{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block title %}CodeSnug | {% trans '500 - Server Error' %}{% endblock %}

{% block header %}
    {{ form.media }}
{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    <div class="col-md-12">

        <div class="page-header">
            <h2>{% trans '500 - Internal Server Error' %}</h2>
        </div>

        {% include "messages.html" %}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>{% blocktrans %}Sorry, the requested page was not found on this server.{% endblocktrans %}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    </div>
{% endblock %}

{% block footer %}

    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });

            $('#id_date_of_birth').datepicker();

        });
    </script>
{% endblock %}
