{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load custom_filters %}
{% load widget_tweaks %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for contact_us %}
        <i class="glyphicon glyphicon-wrench"></i> {% trans "The Codesnug API" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Our API' %}{% endblock %}

{% block meta_message %}
    {% trans 'Store and share your code' %}
{% endblock %}

{% block header %}
    {{ form.media }}
    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    <div class="col-md-12">

        <div class="page-header">
            <h2>{% trans 'Our API' %}</h2>
        </div>
        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>{% trans 'Our API' %}</h3>
                        {% blocktrans %}
                        <p>Codesnug dispone de una API REST de consulta para acceder a los datos de un usuario.</p>

                        <p>Formatos de retorno de la API:</p>
                        <ol>
                            <li>application/json</li>
                            <li>text/html</li>
                        </ol>
                        {% endblocktrans %}
                        {% blocktrans %}
                        <p>Entre las operaciones que permite la API se encuentran las siguientes operaciones:</p>
                        <ol>
                            <li><strong>GET /api/goals</strong>: Obtiene la lista de goals del usuario actual.</li>
                            <li><strong>GET /api/goals/{uuid}</strong>: Obtiene la información del Goal identificado mediante su uuid.</li>
                            <li><strong>GET /api/workspaces</strong>: Obtiene un listado con todos los Espacios de trabajo del usuario actual.</li>
                            <li><strong>GET /api/workspaces/{uuid}</strong>: Obtiene la información de un Espacio de trabajo identificado por su uuid.</li>
                            <li><strong>GET /api/snippets</strong>: Obtiene un listado de los snippets del usuario actual.</li>
                            <li><strong>GET /api/snippets/{uuid}</strong>: Obtiene la información de un snippet en concreto dado su uuid.</li>
                            <li><strong>GET /api/tags</strong>: Obtiene un listado de las etiquetas del usuario actual.</li>
                            <li><strong>GET /api/tags/{uuid}</strong>: Obtiene la información de una etiqueta en concreto dado su uuid.</li>
                        </ol>
                        {% endblocktrans %}
                        {% blocktrans %}
                        <p>Todas las peticiones deben incluir las credenciales del usuario, que serán cifradas utilizando SSL.</p>
                        <p>Ejemplo de petición:</p>
                        <pre><code>https://codesnug.com/api/goals -u user:pass</code></pre>
                        <p>Ejemplo de respuesta:</p>
                        <pre><code>
HTTP 200 OK
    Content-Type: application/json
    Vary: Accept
    Allow: GET, HEAD, OPTIONS


{
    "count": 6,
    "next": null,
    "previous": null,
    "results": [
    {
        "title": "Goal 1",
        "description": "Maecenas laoreet orci justo, ut sagittis neque varius eu. Nullam risus sapien, cursus id magna vitae, blandit semper nisi.",
        "uuid": "8b5eb590d0094c529f547ea7f17dcf86",
        "created_at": "2014-07-21T13:18:31.506Z",
        "is_private": false,
        "owner": "nombre_usuario",
        "snippets": [
            "4c46864b9f3c4a89b1aee6bf50f04a5f",
            "572d5029abb54d1fa225f0c44e9fe44d"
        ],
        "workspaces": [
            "Workspace 1",
            "Workspace 2"
        ],
        "tags": [
            "Tag 1",
            "Tag 2"
        ]
    },
...
                        </code></pre>
                        {% endblocktrans %}
                        {% blocktrans %}<p>Para hacer pruebas con la información ofrecida por la API, está disponible una interfaz web para realizar las consultas.</p>{% endblocktrans %}
                        <p><a href="{% url 'api-root' %}" class="btn-sm btn-primary">{% blocktrans %}Browsable API{% endblocktrans %}</a></p>
                        {% blocktrans %}<p>Debes estar registrado para acceder a la API navegable.</p>{% endblocktrans %}

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    </div>
{% endblock %}

{% block footer %}

    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });

            $('#id_date_of_birth').datepicker();

        });
    </script>
{% endblock %}
