<!DOCTYPE html>
{% load staticfiles %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load cookielaw_tags %}
{% load  %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb_for home %}
        <i class="glyphicon glyphicon-home"></i> {% trans "Home" %}
    {% endbreadcrumb_for %}
{% endblock %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description %}{% endblock %}">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'apple-touch-icon-152x152.png' %}" />

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootflat/css/bootflat.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/codesnug-icons.css' %}">
    <link href="{% static 'cookielaw/css/cookielaw.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>

    {% block header %}{% endblock %}

</head>
<body>
<div class="container">
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}" title="{% trans 'Codesnug home' %}"><i class="custom-icon-soccer"></i> CodeSnug</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-plus"></span>
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% url 'goals_add' as goals_add_url %}
                                {% url 'workspaces_add' as workspaces_add_url %}
                                {% url 'usergroups_add' as usergroups_add_url %}
                                <li class="{% ifequal request.path goals_add_url %}active{% endifequal %}">
                                    <a href="{{ goals_add_url }}"
                                       title="{% trans 'Add Goal' %}"><i class="custom-icon-soccer"></i> {% trans 'Add New Goal' %}</a>
                                </li>
                                <li class="{% ifequal request.path workspaces_add_url %}active{% endifequal %}">
                                    <a href="{{ workspaces_add_url }}"
                                       title="{% trans 'Add Workspace' %}"><span class="glyphicon glyphicon-inbox"></span> {% trans 'Add Workspace' %}</a>
                                </li>
                                <li class="{% ifequal request.path usergroups_add_url %}active{% endifequal %}">
                                    <a href="{{ usergroups_add_url }}"><i class="custom-icon-users"></i> {% trans 'Add User Group' %}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-th-list"></span>
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% url 'goals_list' request.user.username as goals_list_url %}
                                {% url 'workspaces_list' request.user.username as workspaces_list_url %}
                                {% url 'usergroups_list' request.user.username as usergroups_list_url %}
                                {% url 'tags_list' request.user.username as tags_list_url %}
                                <li class="{% ifequal request.path goals_list_url %}active{% endifequal %}">
                                    <a href="{{ goals_list_url }}"><i class="custom-icon-soccer"></i> {% trans 'Manage Goals' %}</a>
                                </li>
                                <li class="{% ifequal request.path workspaces_list_url %}active{% endifequal %}">
                                    <a href="{{ workspaces_list_url }}"
                                       title="{% trans 'Manage Workspaces' %}"><span class="glyphicon glyphicon-inbox"></span> {% trans 'Manage Workspaces' %}
                                    </a>
                                </li>
                                <li class="{% ifequal request.path usergroups_list_url %}active{% endifequal %}">
                                    <a href="{{ usergroups_list_url }}"><i class="custom-icon-users"></i> {% trans 'Manage User Groups' %}</a>
                                </li>
                                <li class="{% ifequal request.path tags_list_url %}active{% endifequal %}">
                                    <a href="{{ tags_list_url }}"><span
                                            class="glyphicon glyphicon-tags"></span> {% trans 'Manage Tags' %}</a>
                                </li>
                            </ul>
                        </li>
                {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'contact_us' %}" class="navbar-bug" title="{% trans 'Found a bug?' %}"><i class="custom-icon-bug"></i></a></li>
                    {% if not user.is_authenticated %}
                        <li><a href="{% url 'registration_register' %}" title="{% trans 'Register' %}">{% trans 'Register' %}</a></li>
                    {% else %}
                    <li>
                        <form class="navbar-form navbar-right" role="search" action="{% url 'search_test' %}">
                            <div class="form-search search-only">
                                <i class="search-icon glyphicon glyphicon-search"></i>
                                <input id="id_q" name="q" type="search" class="form-control search-query" placeholder="{% trans 'Search for goals...' %}">
                            </div>
                        </form>
                    </li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {% if user.is_authenticated %}

                                <img src="{{ request.user.avatar.url }}" alt="{% trans 'User Avatar' %}" class="img-circle" width="25"
                                     height="25"/> {{ request.user.username }}

                            {% else %} <span class="glyphicon glyphicon-user"></span> {% trans 'Login' %} {% endif %}
                            <b class="caret"></b></a>
                        {% if user.is_authenticated %}
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-home"></span> {% trans 'Your Profile' %}</a></li>
                                <li><a href="{% url 'auth_logout' %}"><i class="custom-icon-logout"></i>
                                    {% trans 'Logout' %}</a></li>
                            </ul>
                        {% endif %}
                        {% if not user.is_authenticated %}
                            <div class="dropdown-menu" style="padding: 15px;">
                                <form action="{% url 'auth_login' %}" method="post">
                                    {% csrf_token %}
                                    <label for="id_username">{% trans 'Username:' %}</label>
                                    <input id="id_username" style="margin-bottom: 15px;" type="text" name="username"
                                           size="30"/>
                                    <label for="id_password">{% trans 'Password:' %}</label>
                                    <input id="id_password" style="margin-bottom: 15px;" type="password" name="password"
                                           size="30"/>
                                    <input type="hidden" name="next" value="{% url 'home' %}" />
                                    <input class="btn btn-primary"
                                           style="clear: left; width: 100%; height: 32px; font-size: 13px;"
                                           type="submit" name="commit" value="{% trans 'Sign In' %}"/>
                                </form>
                            </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>

    {% block content %}
    {% endblock %}

    <div class="row">
        <div class="col-md-12">
            <div class="footer">
                <div class="clearfix">
                    <div class="footer-logo"><a href="{% url 'home' %}" title="Codesnug">Codesnug</a></div>
                    <dl class="footer-nav">
                        <dt class="nav-title">{% trans 'HELP' %}</dt>
                        {% comment %}<dd class="nav-item"><a href="{% url 'faqs' %}"
                                                title="{% trans 'FAQs' %}">{% trans 'FAQs' %}</a></dd>{% endcomment %}
                        <dd class="nav-item"><a href="http://blog.codesnug.com" title="Codesnug Blog">Blog</a></dd>
{% comment %}<dd class="nav-item"><a href="#">Forums</a></dd>{% endcomment %}
                        <dd class="nav-item"><a href="{% url 'help_api' %}"
                                                title="{% trans 'Our API' %}">{% trans 'Our API' %}</a></dd>
                        <dd class="nav-item"><a href="https://codesnug.uservoice.com/"
                                                title="{% trans 'Forums & Feedback' %}">{% trans 'Forums & Feedback' %}</a></dd>
                        <dd class="nav-item"><a href="{% url 'contact_us' %}"
                                                title="{% trans 'Contact us' %}">{% trans 'Contact us' %}</a></dd>
                    </dl>
                    <dl class="footer-nav">
                        <dt class="nav-title">{% trans 'ABOUT' %}</dt>
                        <dd class="nav-item"><a href="{% url 'the_project' %}"
                                                title="{% trans 'The Project' %}">{% trans 'The Project' %}</a></dd>
                        <dd class="nav-item"><a href="{% url 'terms_conditions' %}"
                                                title="{% trans 'Terms & Conditions' %}">{% trans 'Terms & Conditions' %}</a>
                        </dd>
                        <dd class="nav-item"><a href="{% url 'privacy' %}"
                                                title="{% trans 'Privacy' %}">{% trans 'Privacy' %}</a></dd>
                    </dl>
                    <dl class="footer-nav">
                        <dt class="nav-title">{% trans 'SOCIAL' %}</dt>
                        <dd class="nav-item"><a href="https://twitter.com/codesnug" title="Codesnug Twitter">Twitter</a></dd>
                    </dl>
                    <dl class="footer-nav">
                        <dt class="nav-title">{% trans 'LANGUAGES' %}</dt>
                        {% for lang in LANGUAGES %}
                            <dd class="nav-item">
                                <form name="setLang{{ lang.1}}" action="/i18n/setlang/" method="post">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ redirect_to }}"/>
                                    <input type="hidden" name="language" value="{{ lang.0 }}" />
                                    <a href="#" onclick="document.setLang{{ lang.1 }}.submit();return false;">{{ lang.1 }}</a>
                                </form>
                            </dd>
                        {% endfor %}
                    </dl>
                </div>
                <div class="footer-copyright text-center">{% blocktrans %}Copyright © 2014
                    <a href="http://renefernandez.com" title="René Fernández">René F. Sánchez</a>. All rights
                    reserved.{% endblocktrans %}</div>
            </div>
        </div>
        {% cookielaw_banner %}
    </div>
</div>
{% if not DEBUG %}
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56816030-1', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'cookielaw/js/cookielaw.js' %}"></script>
<script type="text/javascript">
    $(function () {
        // Setup drop down menu
        $('.dropdown-toggle').dropdown();

        // Fix input element click problem
        $('.dropdown input, .dropdown label').click(function (e) {
            e.stopPropagation();
        });

    });
</script>
{% block footer %}{% endblock %}
</body>
</html>