<ol class="breadcrumb">
    {% for url, label in breadcrumbs %}
        <li {% if forloop.last %} class="active" {% endif %}>{% ifnotequal forloop.counter breadcrumbs_total %}<a href="{{ url }}">{{ label|safe }}</a>
            {% else %}<span>{{ label|safe }}</span>
            {% endifnotequal %}
        </li>
    {% endfor %}
</ol>