{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load custom_filters %}
{% load widget_tweaks %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for contact_us %}
        <i class="glyphicon glyphicon-send"></i> {% trans "Contact us" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Contact us' %}{% endblock %}

{% block header %}
    {{ form.media }}
{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    <div class="col-md-12">

        <div class="page-header">
            <h2>{% trans 'Contact us' %}</h2>
        </div>
        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="." method="post">
                            {% csrf_token %}
                            <div class="form-group {% if form.name.errors %} has-error {% endif %}">
                                <label for="id_name" class="control-label">{% trans "Name" %}</label>
                                {{ form.name|addcss:'form-control' }}
                                {% if form.name.errors %}
                                    <ul class="help-block">
                                        {% for error in form.name.errors %}
                                            <li>{{ error|escape }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="form-group {% if form.email.errors %} has-error {% endif %}">
                                <label for="id_email" class="control-label required">{% trans "Email" %}</label>
                                {{ form.email|addcss:'form-control' }}
                                {% if form.email.errors %}
                                    <ul class="help-block">
                                        {% for error in form.email.errors %}
                                            <li>{{ error|escape }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="form-group {% if form.message.errors %} has-error {% endif %}" id="message-group">
                                <label for="id_message" class="control-label">{% trans "Message" %}</label>
                                {{ form.message|attr:"rows:5"|addcss:'form-control' }}
                                {% if form.message.errors %}
                                    <ul class="help-block">
                                        {% for error in form.message.errors %}
                                            <li>{{ error|escape }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="form-group {% if form.captcha.errors %} has-error {% endif %}" id="captcha-group">
                                <label for="id_captcha" class="control-label">{% trans "Captcha" %}</label>
                                {{ form.captcha|addcss:'form-control' }}
                                {% if form.captcha.errors %}
                                    <ul class="help-block">
                                        {% for error in form.captcha.errors %}
                                            <li>{{ error|escape }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">{% trans 'Send message' %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h4>{% trans 'Hello there!' %}</h4>
                <p>{%  blocktrans %}Do you have something to tell us? Do you have a suggestion? Did you find a bug? Say thanks maybe?{% endblocktrans %}</p>
                <p>{%  blocktrans %}Whatever, you can us this form to stay in touch with us!{% endblocktrans %}</p>
            </div>
        </div>

    </div>
</div>
    </div>
{% endblock %}

{% block footer %}

    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });

            $('#id_date_of_birth').datepicker();

        });
    </script>
{% endblock %}
