{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load widget_tweaks %}
{% block title %}CodeSnug{% endblock %}

{% block meta_description %}
    {% trans 'Codesnug is a service that allow developers to store their code, organize it and share it with their partners.' %}
{% endblock %}

{% block header %}
    {{ form.media }}
    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet">
    <link href="{% static 'css/home/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/home/responsive.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <section id="main-header">
        <div class="container">
            <div class="container-content">
                <div class="row">
                    <div class="column1">
                        <h1 id="main-info">Bienvenido a Codesnug</h1>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section id="features">
        <div class="container">

            <div class="featured col-md-3">
                <h3>Almacena</h3>
                <img src="{% static 'images/home/' %}257-box3.png"/>

                <p>Guarda tu código a buen recaudo.</p>
            </div>
            <div class="featured col-md-3">
                <h3>Clasifica</h3>
                <img src="{% static 'images/home/' %}256-box2.png"/>

                <p>Organílazo en espacios de trabajo.</p>
            </div>
            <div class="featured col-md-3">
                <h3>Etiqueta</h3>
                <img src="{% static 'images/home/' %}15-tags.png"/>

                <p>Añádele etiquetas para tenerlo siempre a mano.</p>
            </div>
            <div class="featured col-md-3">
                <h3>Comparte</h3>
                <img src="{% static 'images/home/' %}112-group.png"/>

                <p>Compártelo con tus compañeros</p>
            </div>

        </div>
    </section>

    <section id="main-abstract">
        <div class="container">

            <div class="col-md-12">
                <p><img src="{% static 'images/home/' %}organiza-abstract.png" alt="Organiza tu código" /></p>
                <p>Con Codesnug puedes mantener tu código organizado y clasificado. Se almacenará en la nube,
                    por lo que siempre lo tendrás disponible.</p>
            </div>

        </div>
    </section>

    <section id="abstract">
        <div class="container">

            <div class="col-md-6">
                 <p>Accede a tu código en cualquier momento, cópialo, descárgalo, expórtalo... ¡Es tuyo!</p>
            </div>
            <div class="col-md-6">
                 <img src="{% static 'images/home/' %}codigo-abstract.png" alt="Organiza tu código" />
            </div>


            <div class="col-md-6">
                <img src="{% static 'images/home/' %}comparte-abstract.png" alt="Comparte tu código" />
            </div>
            <div class="col-md-6">
                <p>Comparte tu código con otras personas y colabora con ellas permitiéndoles editar tu código.</p>
            </div>

        </div>
    </section>

    <section id="more">
        <div class="container">
                <div class="col-md-12">
                    <h3>Otras características</h3>
                    <ul>
                        <li>Más de 30 lenguajes de programación</li>
                        <li>Exportación de código</li>
                        <li>Sistema de búsqueda de código</li>
                        <li>Posibilidad de código como privado o público</li>
                        <li>API Rest para extender la aplicación</li>
                        <li>Compatible con tablets y móviles</li>
                    </ul>
                </div>
            </div>
    </section>

    {% if not user.is_authenticated %}
    <section id="register-form" class="container">
        <h3>¡Pruébalo!</h3>
        <form method="post" action=".">
            {% csrf_token %}
        <div class="col-md-4">
            <div class="form-group {% if form.verify.errors %} has-error {% endif %}">
                <label for="id_verify" class="control-label required">{% trans "Beta Code" %}</label>
                {{ form.verify|add_class:'form-control' }}
                {% if form.verify.errors %}
                    <ul class="help-block">
                        {% for error in form.verify.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group {% if form.username.errors %} has-error {% endif %}">
                <label for="id_username" class="control-label required">{% trans "Username" %}</label>
                {{ form.username|add_class:'form-control' }}
                {% if form.username.errors %}
                    <ul class="help-block">
                        {% for error in form.username.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group {% if form.password1.errors %} has-error {% endif %}">
                <label for="id_password1" class="control-label required">{% trans "Password" %}</label>
                {{ form.password1|add_class:'form-control' }}
                {% if form.password1.errors %}
                    <ul class="help-block">
                        {% for error in form.password1.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-group {% if form.password2.errors %} has-error {% endif %}">
                <label for="id_password2" class="control-label required">{% trans "Password (again)" %}</label>
                {{ form.password2|add_class:'form-control' }}
                {% if form.password2.errors %}
                    <ul class="help-block">
                        {% for error in form.password2.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group {% if form.email.errors %} has-error {% endif %}">
                <label for="id_email" class="control-label required">{% trans "Email" %}</label>
                {{ form.email|add_class:'form-control' }}
                {% if form.email.errors %}
                    <ul class="help-block">
                        {% for error in form.email.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group {% if form.date_of_birth.errors %} has-error {% endif %}">
                <label for="id_date_of_birth" class="control-label required">{% trans "Date of Birth" %}</label>
                {{ form.date_of_birth|attr:"data-date-format:dd/mm/yyyy"|add_class:'form-control' }}
                <p class="help-block">{% trans 'Format: dd/mm/YYYY.' %}</p>
                {% if form.date_of_birth.errors %}
                    <ul class="help-block">
                        {% for error in form.date_of_birth.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>

        <div class="col-md-12">
            <div class="checkbox {% if form.tos.errors %} has-error {% endif %}">
                <div class="icheckbox_flat" style="position: relative;">
                    {{ form.tos }}<ins class="iCheck-helper"></ins>
                </div>
                <label for="id_tos" class="required"> {% trans 'I accept the' %} <a href="{% url 'terms_conditions' %}" title="{% trans 'Terms & Conditions' %}" target="_blank">{% trans 'Terms & Conditions' %}</a> {% trans 'of this site.' %}</label>
                {% if form.tos.errors %}
                    <ul class="help-block">
                        {% for error in form.tos.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary center-block">{% trans 'Register a new account' %}</button>
            </div>
        </div>
        </form>
    </section>
    {% endif %}

    </div>
{% endblock %}

{% block footer %}

    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });

            $('#id_date_of_birth').datepicker();

        });
    </script>
{% endblock %}
