{% load staticfiles %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load widget_tweaks %}
<div class="col-md-3 left-sidebar" id="left-sidebar">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="pull-right">
                    <a href="#" id="info-goal" class="info-badge sidebar-badge" ><i class="glyphicon glyphicon-info-sign"></i></a>
                </span>
                <i class="custom-icon-soccer"></i> <span class="sidebar-text">{% trans 'Goals' %}</span></h3>
        </div>
        <div class="list-group">
            {% url 'goals_add' as goals_add_url %}
            <a class="list-group-item {% ifequal request.path goals_add_url %}active{% endifequal %}" href="{{ goals_add_url }}" title="{% trans 'Add New Goal' %}">
                <span class="pull-right"><i class="glyphicon glyphicon-chevron-right sidebar-badge"></i></span>
                <span class="glyphicon glyphicon-plus"></span> <span class="sidebar-text">{% trans 'Add New Goal' %}</span>
            </a>
            {% url 'goals_list' request.user.username as goals_list_url %}
            <a class="list-group-item {% ifequal request.path goals_list_url %}active{% endifequal %}" href="{{ goals_list_url }}" title="{% trans 'Manage Goals' %}">
                <span class="pull-right"><i class="glyphicon glyphicon-chevron-right sidebar-badge"></i></span>
                <span class="glyphicon glyphicon-th-list"></span> <span class="sidebar-text">{% trans 'Manage Goals' %}</span>
            </a>
            {% url 'tags_list' request.user.username as tags_list_url %}
            <a class="list-group-item {% ifequal request.path tags_list_url %}active{% endifequal %}" href="{{ tags_list_url }}" title="{% trans 'Manage Tags' %}">
                <span class="pull-right"><i class="glyphicon glyphicon-chevron-right sidebar-badge"></i></span>
                <span class="glyphicon glyphicon-tags"></span> <span class="sidebar-text">{% trans 'Manage Tags' %}</span>
            </a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="pull-right">
                    <a href="#" id="info-workspaces" class="info-badge sidebar-badge">
                    <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
                <span class="glyphicon glyphicon-inbox"></span> <span class="sidebar-text">{% trans 'Workspaces' %}</span>
            </h3>
        </div>
        <div class="list-group">
            {% url 'workspaces_add' as workspaces_add_url %}
            <a class="list-group-item {% ifequal request.path workspaces_add_url %}active{% endifequal %}" href="{{ workspaces_add_url }}" title="{% trans 'Add New Workspace' %}">
                <span class="pull-right"><i class="glyphicon glyphicon-chevron-right sidebar-badge"></i></span>
                <span class="glyphicon glyphicon-plus"></span> <span class="sidebar-text">{% trans 'Add New Workspace' %}</span>
            </a>
            {% url 'workspaces_list' request.user.username as workspaces_list_url %}
            <a class="list-group-item {% ifequal request.path workspaces_list_url %}active{% endifequal %}" href="{{ workspaces_list_url }}" title="{% trans 'Manage Workspaces' %}">
                <span class="pull-right"><i class="glyphicon glyphicon-chevron-right sidebar-badge"></i></span>
                <span class="glyphicon glyphicon-th-list"></span> <span class="sidebar-text">{% trans 'Manage Workspaces' %}</span>
            </a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="pull-right">
                    <a href="#" id="info-usergroups" class="info-badge sidebar-badge">
                        <i class="glyphicon glyphicon-info-sign"></i>
                    </a>
                </span>
                <i class="custom-icon-users"></i> <span class="sidebar-text">{% trans 'User Groups' %}</span>
            </h3>
        </div>
        <div class="list-group">
            {% url 'usergroups_add' as usergroups_add_url %}
            <a class="list-group-item {% ifequal request.path usergroups_add_url %}active{% endifequal %}" href="{{ usergroups_add_url }}" title="{% trans 'Add New User Group' %}">
                <span class="pull-right"><i class="glyphicon glyphicon-chevron-right sidebar-badge"></i></span>
                <span class="glyphicon glyphicon-plus"></span> <span class="sidebar-text">{% trans 'Add New User Group' %}</span>
            </a>
            {% url 'usergroups_list' request.user.username as usergroups_list_url %}
            <a class="list-group-item {% ifequal request.path usergroups_list_url %}active{% endifequal %}" href="{{ usergroups_list_url }}" title="{% trans 'Manage User Groups' %}">
                <span class="pull-right"><i class="glyphicon glyphicon-chevron-right sidebar-badge"></i></span>
                <span class="glyphicon glyphicon-th-list"></span> <span class="sidebar-text">{% trans 'Manage User Groups' %}</span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 collapse-button-block">
            <a href="#" id="collapse-button"><i id="collapse-icon" class="glyphicon glyphicon-chevron-left"></i> <span class="sidebar-text">{% trans 'Collapse sidebar' %}</span></a>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function() {

        var collapsed_sidebar = false;

        $('#info-goal').tooltip({
            placement: 'right',
            title: '{% trans 'Goals are groups of snippets that they together do a task. Every Goal can be tagged.' %}',
            container: 'body'
        });

        $('#info-workspaces').tooltip({
            placement: 'right',
            title: '{% trans 'Workspaces are a way to organize Goals. Workspaces can be shared with other users using User Groups.' %}',
            container: 'body'
        });

        $('#info-usergroups').tooltip({
            placement: 'right',
            title: '{% trans 'You can organize users in User Groups to let them access to the workspaces you want.' %}',
            container: 'body'
        });

        $('#collapse-button').click(function(){
            if(collapsed_sidebar){
                $("#left-sidebar").removeClass("col-md-1").addClass("col-md-3").removeClass("left-sidebar-collapsed");
                $("#main-column").removeClass("col-md-11").addClass("col-md-9").removeClass("main-column-expanded");
                $(".sidebar-badge").removeClass("hide");
                $(".sidebar-text").removeClass("hide");
                $('#collapse-icon').removeClass("glyphicon-chevron-right").addClass("glyphicon-chevron-left");

            }
            else{
                $("#left-sidebar").removeClass("col-md-3").addClass("col-md-1").addClass("left-sidebar-collapsed");
                $("#main-column").removeClass("col-md-9").addClass("col-md-11").addClass("main-column-expanded");
                $(".sidebar-badge").addClass("hide");
                $(".sidebar-text").addClass("hide");
                $('#collapse-icon').removeClass("glyphicon-chevron-left").addClass("glyphicon-chevron-right");

            }
            collapsed_sidebar=!collapsed_sidebar;
        });

    });
</script>