{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'success'%}{{ message.tags }}
                {% elif message.tags == 'error' %}danger{% endif %}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}