{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load custom_filters %}
{% load widget_tweaks %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for privacy %}
        <i class="glyphicon glyphicon-lock"></i> {% trans "Privacy" %}
    {% endbreadcrumb_for %}
{% endblock %}
{% block title %}CodeSnug | {% trans 'Privacy' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    <div class="col-md-12">

        <div class="page-header">
            <h2>{% trans 'Data & Privacy Policy' %}</h2>
        </div>
        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% blocktrans %}
                        <p>Last updated: 22/07/2014</p>

                        <h4>Data and Privacy policy</h4>

                        <p>Según lo establecido en la Ley Orgánica 15/1999 de protección de datos de caracter personal
                        (LOPD), informamos que mediante la cumplimentación del formulario de registro en el sitio, sus
                        datos pasarán a formar parte de un fichero con información de usuarios propiedad de "Codesnug.com".
                            Dicho fichero no será compartido con terceros bajo ningún concepto.</p>
                        <p>La finalidad de dicho fichero es la gestión de usuarios registrados, envío de noticias y
                        recordatorios de contraseñas a la dirección que ha introducido el usuario.</p>
                        <p>Si un usuario no desea recibir más información deberá pulsar el enlace correspondiente que se
                        incluye en todos los emails que se le envían y desactivar la opción en su cuenta de usuario.</p>
                        <p>Codesnug.com garantiza la confidencialidad de todos los datos aportados y asegura que bajo
                        ningún caso serán cedidos a terceros sin el consentimiento expreso del usuario. Solamente se
                        solicitará al usuario los datos mínimos necesarios para la utilización del servicio y únicamente
                        serán utilizados para el fin principal.</p>
                        <p>Se garantiza que para el almacenamiento de datos se han adoptado los niveles de seguridad
                        adecuados a dichos datos, establecidos por la legislación vigente.</p>
                        <h4>Política de cookies</h4>
                        <p>El acceso a este sitio puede implicar la utilización de cookies y se notifica correspondiente al
                        usuario cuando accede al mismo. Las cookies son pequeñas cantidades de información que se
                        almacenan en el navegador utilizado por cada usuario para que el servidor recuerde cierta
                        información que posteriormente pueda utilizar. Esta información permite identificarle a usted
                        como un usuario concreto y permite guardar sus preferencias personales, así como información
                        técnica como puedan ser visitas o páginas concretas que visite.</p>
                        <p>Aquellos usuarios que no deseen recibir cookies o quieran ser informados antes de que se
                        almacenen en su ordenador, pueden configurar su navegador a tal efecto.</p>
                        <p>La mayor parte de los navegadores de hoy en día permiten la gestión de las cookies de 3 formas
                        diferentes:</p>
                        <ul>
                            <li>Las cookies no se aceptan nunca.</li>
                            <li>El navegador pregunta al usuario si se debe aceptar cada cookie.</li>
                            <li>Las cookies se aceptan siempre.</li>
                        </ul>
                        <p>El navegador que utilice también puede incluir la posibilidad de especificar mejor qué cookies
                        tienen que ser aceptadas y cuáles no. En concreto, el usuario puede normalmente aceptar alguna
                        de las siguientes opciones: rechazar las cookies de determinados dominios; rechazar las cookies
                        de terceros; aceptar cookies como no persistentes (se eliminan cuando el navegador se cierra);
                        permitir al servidor crear cookies para un dominio diferente. Además, los
                        navegadores pueden también permitir a los usuarios ver y borrar cookies individualmente.</p>

                        <p>* Dispone de más información sobre las Cookies en: http://es.wikipedia.org/wiki/Cookie</p>

                        <h4>Web Beacons</h4>
                        <p>Este sitio puede albergar también web beacons (también conocidos por web bugs). Los web beacons
                        suelen ser pequeñas imágenes de un pixel por un pixel, visibles o invisibles colocados dentro
                        del código fuente de las páginas web de un sitio. Los Web beacons sirven y se utilizan de una
                        forma similar a las cookies. Además, los web beacons suelen utilizarse para medir el tráfico de
                        usuarios que visitan una página web y poder sacar un patrón de los usuarios de un sitio.</p>
                        <p>* Dispone de más información sobre los web beacons en: http://es.wikipedia.org/wiki/Web_bug</p>
                        <h4>Terceros</h4>
                        <p>En algunos casos, compartimos información sobre los visitantes del sitio de forma anónima o
                        agregada con terceros como puedan ser anunciantes, patrocinadores o auditores con el único fin
                        de mejorar nuestros servicios. Todas estas tareas de procesamiento serán reguladas según las
                        normas legales y se respetarán todos sus derechos en materia de protección de datos conforme a
                        la regulación vigente.</p>
                        <p>Este sitio mide el tráfico con diferentes soluciones que pueden utilizar cookies o web beacons
                        para analizar lo que sucede en nuestras páginas. Actualmente utilizamos las siguientes
                        soluciones para la medición del tráfico de este sitio. Puede ver más información sobre la
                        política de privacidad de cada una de las soluciones utilizadas para tal efecto:</p>
                        <ul>
                            <li>Google (Analytics): http://www.google.com/intl/es_ALL/privacypolicy.html</li>
                        </ul>
                        <p>El sitio también puede albergar publicidad propia, de afiliados, o de redes publicitarias. Esta
                        publicidad se muestra mediante servidores publicitarios que también utilizan cookies para
                        mostrar contenidos publicitarios afines a los usuarios. Cada uno de estos servidores
                        publicitarios dispone de su propia política de privacidad, que puede ser consultada en sus
                        propias páginas web.</p>
                    {% endblocktrans %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
