{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load custom_filters %}
{% load widget_tweaks %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for terms_conditions %}
        <i class="glyphicon glyphicon-file"></i> {% trans "Terms & Conditions" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Terms & Conditions' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    <div class="col-md-12">

        <div class="page-header">
            <h2>{% trans 'Terms & Conditions' %}</h2>
        </div>
        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <div class="row">

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% blocktrans %}
                        <p>Last updated: 22/07/2014</p>

                        <h4>Terms & Conditions</h4>

                        <p>Como usuario de "Codesnug" debe proceder a la lectura del siguiente aviso legal. El acceso a
                            los servicios proporcionados por el sistema supone la aceptación expresa de todo lo recogido
                            en este texto. En caso de no aceptarlos, el sitio debe ser abandonado inmediatamente.</p>

                        <p>El acceso al sitio web de Codesnug.com implica la aceptación sin reservas de las presentes
                            condiciones generales de uso que el usuario afirma comprender en su totalidad.</p>

                        <p>El usuario se compromete a no utilizar el sitio web y los servicios que se ofrecen en el
                            mismo para la realización de actividades contrarias a la ley y a respetar en todo momento
                            las presentes condiciones generales.</p>

                        <h4>Legal Disclaimer</h4>

                        <p>Codesnug es un servicio que permite a sus usuarios almacenar, organizar y acceder a
                            fragmentos de código. El autor del código mantiene todos los derechos de propiedad
                            intelectual del mismo, aunque los usuarios que tengan acceso a él podrían copiarlo
                            o compartirlo.</p>
                        <h5>Información de contacto</h5>
                        <ul>
                            <li>Correo electrónico: &#105;&#110;&#102;&#111;&#064;&#099;&#111;&#100;&#101;&#115;&#110;&#117;&#103;&#046;&#099;&#111;&#109;</li>
                        </ul>
                        <h4>Licencia de contenidos y propiedad intelectual</h4>

                        <p>Salvo que se indique expresamente lo contrario, todo el contenido (código fuente, javascript,
                            hojas de estilos, etc.) del sitio está sujeto a una licencia GNU GPLv3 (http://
                            www.gnu.org/licenses/gpl.txt).</p>

                        <p>Se excluyen de este término los paquetes y librerías de terceros, que pueden disponer de sus
                            propias licencias.</p>
                        <p>También se excluyen los distintivos, nombre y marcas comerciales del sitio web, siendo estos
                        propiedad únicamente de sus propios dueños.</p>
                        <p>Toda la información publicada en el sitio por los usuarios pertenece sólo y únicamente
                        a los propios usuarios y no está permitido su uso por terceras partes para cualquier fin ajeno
                        a este sitio web bajo ningún pretexto y sin consentimiento del usuario.</p>
                        <h4>Responsabilidad de los enlaces de los usuarios</h4>
                        <p>Según lo establecido en los artículos 16 y 17 de la Ley 34/2002 (LSSICE), la empresa
                            no se hace responsable de la licitud ni la información almacenada por los usuarios,
                            siendo estos los únicos responsables de su información, de los enlaces que hayan
                            añadido y los terceros de quienes provengan estos enlaces.</p>
                        <p>En ningún caso la existencia de un enlace a terceros implica la existencia de una relación
                            con Codesnug.com ni su conocimiento, aceptación y aprobación.</p>
                        <p>En el caso de que un órgano competente declare como ilícita cierta información contenida
                            en este sitio, ordenando su retirada o solicitando información sobre el usuario autor
                            de la misma, se le proporcionarán dichos datos según lo establecido en el artículo 36
                            de la ley 34/2002.</p>
                        <p>Codesnug.com y todo su contenido está sujeto a la legislación española vigente.</p>
                        {% endblocktrans %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
