{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load custom_filters %}
{% load widget_tweaks %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for contact_us %}
        <i class="glyphicon glyphicon-briefcase"></i> {% trans "The Project" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {%  trans 'The Project' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    <div class="col-md-12">

        <div class="page-header">
            <h2>{% trans 'About the project' %}</h2>
        </div>
        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>{% trans 'Some words about this project' %}</h3>
                        {% blocktrans %}
                        <p>My name is René F. Sánchez and Codesnug is my final Master's Degree Project. I studied the
                            Master's Degree in Web Engineering at the University of Oviedo in Spain and I thought (and still think)
                            that a project like this could be very useful and interesting.</p>
                        <p>As a programmer, I have lots and lots of snippets and sometimes is hard to find a place to store
                            and organize them. I wanted the possibility of access them both online and offline, so
                            developing a service with an online database and a web service was not a bad solution.</p>
                        <p>Many other services are focused on sharing, and it is hard to find your code on them.
                            In Codesnug we are focused on the storage but
                        also on sharing the snippets with small groups of people to collaborate.</p>
                        <p>Another point of Codesnug is that you can export all your code whenever you want.
                            We don't want to tie you to this platform and we'll make you things easy.</p>
                        {% endblocktrans %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    </div>
{% endblock %}
