{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% load custom_filters %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for registration_activation_complete %}
        {% trans 'Account activated' %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Account activated' %}{% endblock %}


{% block content %}
<div class="container">
<div class="row" id="main-content">
    <div class="col-md-12">

        <div class="page-header">
            <h2>{% trans 'Account activated' %}</h2>
        </div>

        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <p>{% trans 'Your account is now activated.' %} {% trans 'You can now' %} <a href="{% url 'auth_login' %}" title="{% trans 'Log in' %}">{% trans 'Log in with your username and password' %}</a>.</p>

    </div>
    </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });
        });
    </script>
{% endblock %}
