{% extends "base.html" %}
{% load i18n %}

{% load custom_filters %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for auth_login %}
        <i class="custom-icon-login"></i> {% trans 'Log in' %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Log in' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    <div class="col-md-12">

        <div class="page-header">
            <h2>{% trans 'Log in' %}</h2>
        </div>
        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <form method="post" action=".">
          {% csrf_token %}
            {% include "registration/fields/login_fields.html" with form=form %}

          <div class="form-group">
              <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>
          </div>
          <input type="hidden" name="next" value="{% url 'home' %}" />
        </form>

        <p>{% trans "Forgoten password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>,</p>
        <p>{% trans "Not a member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
    </div>
    </div>
    </div>
{% endblock %}
