{% extends "base.html" %}
{% load i18n %}

{% load custom_filters %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for auth_logout %}
        <i class="custom-icon-logout"></i> {% trans 'Logged out' %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Logged out' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    <div class="col-md-12">

        <div class="page-header">
            <h2>{% trans 'Logged out' %}</h2>
        </div>

        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <p>{% trans "Logged out" %}. {% trans 'Go to' %} <a href="{% url 'home' %}" title ="{% trans 'home' %}">{% trans 'home.' %}</a></p>
    </div>
    </div>
    </div>
{% endblock %}
