{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for password_change_done %}
        {% trans 'Password reset email sent (2/4)' %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Password reset email sent (2/4)' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    <div class="col-md-12">

        <div class="page-header">
            <h2>{% trans 'Password reset email sent' %}</h2>
        </div>

        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <p>{% trans "Email with password reset instructions has been sent." %}</p>

    </div>
    </div>
    </div>
{% endblock %}
