{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for password_change %}
        {% trans 'Password reset (3/4)' %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Password reset (3/4)' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    <div class="col-md-12">

        <div class="page-header">
            <h2>{% trans 'Password Reset Form (3/4)' %}</h2>
        </div>
        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        {% if validlink %}

            <form method="post" action="">
              {% csrf_token %}
                <div class="form-group {% if form.new_password1.errors %} has-error {% endif %}">
                    <label for="id_new_password1" class="control-label required">{% trans "Password" %}</label>
                    {{ form.new_password1|addcss:'form-control' }}
                    {% if form.new_password1.errors %}
                        <ul class="help-block">
                            {% for error in form.new_password1.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="form-group {% if form.new_password2.errors %} has-error {% endif %}">
                    <label for="id_new_password2" class="control-label required">{% trans "Password (again)" %}</label>
                    {{ form.new_password2|addcss:'form-control' }}
                    {% if form.new_password2.errors %}
                        <ul class="help-block">
                            {% for error in form.new_password2.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{% trans 'Change password' %}</button>
                </div>
            </form>

        {% else %}

            <p>{% trans "Password reset failed" %}</p>

        {% endif %}
    </div>
    </div>
    </div>
{% endblock %}
