{% extends "base.html" %}
{% load i18n %}

{% load custom_filters %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for password_reset_complete %}
        {% trans 'Password reset complete (4/4)' %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Password reset complete (4/4)' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    <div class="col-md-12">

    <div class="page-header">
        <h2>{% trans 'Password Reset 4/4' %}</h2>
    </div>

    {% render_breadcrumbs "breadcrumbs.html" %}

    {% include "messages.html" %}

    <p>{% trans "Password reset successfully" %}</p>

    <p class="form-group"><a href="{% url 'auth_login' %}" class="btn btn-primary">{% trans "Log in" %}</a></p>
</div>
    </div>
    </div>
{% endblock %}
