{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}

{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for password_reset %}
        {% trans "Password Reset 1/4" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Password Reset 1/4' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    <div class="col-md-12">

        <div class="page-header">
            <h2>{% trans 'Password Reset 1/4' %}</h2>
        </div>

        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <form method="post" action=".">
          {% csrf_token %}

            <div class="form-group {% if form.email.errors %} has-error {% endif %}">
                <label for="id_email" class="control-label required">{% trans "Email" %}</label>
                {{ form.email|addcss:'form-control' }}
                {% if form.email.errors %}
                    <ul class="help-block">
                        {% for error in form.email.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
            </div>
        </form>
    </div>
    </div>
    </div>
{% endblock %}
