{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for 'registration_register' %}
        {% trans "Registration closed" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Registration closed' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    <div class="col-md-12">

        <div class="page-header">
            <h2>{% trans "Registration Closed" %}</h2>
        </div>

        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <p>{% trans "Registration is currently closed" %}</p>

    </div>
    </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
