{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% load django_bootstrap_breadcrumbs %}
{% block header %}
    {{ form.media }}
    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for 'registration_register' %}
        {% trans "Register" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Register' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    <div class="col-md-12">

        <div class="page-header">
            <h2>{% trans 'Register' %}</h2>
        </div>

        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <div class="row">
            <div class="col-md-8">
                <div class="panel">
                    <div class="panel-body">
                        <form enctype="multipart/form-data" method="post" action=".">
                            {% csrf_token %}
                            {% include "registration/fields/registration_fields.html" with form=form %}
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">{% trans 'Register' %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h3>{% trans 'Welcome to Codesnug' %}</h3>
                <p>{% trans 'With Codesnug you can store your code snippets, organize and share them.' %}</p>
                <p>{% trans 'More than 30 programming languages are supported.' %}</p>
                <p>{% trans 'Your code will be available at any time and can be downloaded.' %}</p>
            </div>
        </div>


        </div>
    </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });

            $('#id_date_of_birth').datepicker();

        });
    </script>
{% endblock %}
