{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for 'password_reset_complete' %}
        {% trans "Registration complete" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Registration complete' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    <div class="col-md-12">

        <div class="page-header">
            <h2>{% trans "Registration Complete" %}</h2>
        </div>

        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <p>{% trans "You are now registered and an activation email was sent to your email address. Click on the link in the email to activate your account" %}</p>

    </div>
    </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}