{% load i18n %}
{% load staticfiles %}
{% load custom_filters %}
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="goal-title"><a href="{% url 'goal_detail' goal.owner.username goal.uuid %}" title="{{ goal.title }}">{{ goal.title }}</a></h3>
            </div>
            <div class="panel-body">
                <div class="goal-description"><p>{{ goal.description }}</p></div>
                <ul class="list-group">
                    {% for snippet in goal.snippets.all %}
                        <li class="list-group-item">
                            <div class="snippet-header">
                                <div class="btn-toolbar pull-right" role="toolbar">
                                    <div class="btn-group">
                                        <span class="label label-default">{{ snippet.get_language_display }}</span>
                                    </div>
                                </div>
                                <h4>{{ snippet.title }}</h4>
                            </div>
                            <div id="snippet-text-{{ snippet.uuid }}" class="snippet-text">{{ snippet.text }}</div>
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group">
                                    <form method="post" action="{% url 'download_snippet' request.user.username snippet.uuid %}">
                                        {% csrf_token %}
                                        <button class="btn btn-xs btn-info" type="submit">{% trans 'Download Snippet' %}</button>
                                    </form>
                                </div>
                            </div>
                            <script type="text/javascript">
                                var editor_{{ snippet.uuid }} = ace.edit("snippet-text-{{ snippet.uuid }}");
                                editor_{{ snippet.uuid }}.setTheme("ace/theme/chrome");
                                editor_{{ snippet.uuid }}.setReadOnly(true);
                                editor_{{ snippet.uuid }}.getSession().setMode("ace/mode/{{ snippet.language }}");
                                editor_{{ snippet.uuid }}.setOptions({
                                    maxLines: editor_{{ snippet.uuid }}.session.getLength()
                                });
                            </script>
                        </li>
                    {% endfor %}
                    <script type="text/javascript">
                    $(function() { // document ready
                        var button_font_up = $("#font_bigger_{{ goal.uuid }}");

                        button_font_up.click(function () {
                            {% for snippet in goal.snippets.all %}
                                editor_{{ snippet.uuid }}.setFontSize(editor_{{ snippet.uuid }}.getFontSize() + 2);
                            {% endfor %}
                        });

                        var button_font_down = $("#font_smaller_{{ goal.uuid }}");

                        button_font_down.click(function () {
                            {% for snippet in goal.snippets.all %}
                                editor_{{ snippet.uuid }}.setFontSize(editor_{{ snippet.uuid }}.getFontSize() - 2);
                            {% endfor %}
                        });
                    });
                    </script>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="btn-toolbar goal-toolbar">
            <div class="btn-group btn-group-sm">
                <button type="button" id="font_smaller_{{ goal.uuid }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-down"></i><i class="glyphicon glyphicon-font"></i></button>
                <button type="button" id="font_bigger_{{ goal.uuid }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-up"></i><i class="glyphicon glyphicon-font"></i></button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">{% trans 'Goal Information' %}</div>
                <ul class="list-group">
                    <li class="list-group-item"><strong>{% trans 'Privacy:' %}</strong>{% if goal.is_private %}<span class="badge badge-danger">{% trans 'Private' %}</span>{% else %}<span class="badge badge-success">{% trans 'Public' %}</span>{% endif %}</li>
                    <li class="list-group-item"><strong>{% trans 'Number of snippets:' %}</strong> {{ goal.snippets.count }}</li>
                    <li class="list-group-item"><strong>{% trans 'Author:' %}</strong> {{ goal.owner.username }}</li>
                    <li class="list-group-item"><strong>{% trans 'Creation date:' %}</strong> {{ goal.created_at }}</li>
                </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">{% trans 'Download' %}</div>
            <div class="panel-body text-center">
                <form method="post" action="{% url 'download_goal' goal.owner.username goal.uuid %}">
                    {% csrf_token %}
                    <button class="btn btn-info" type="submit" id="download_goal_{{ goal.uuid }}">{% trans 'Download Goal' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
