{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for 'goals_list' request.user.username %}
        <i class="custom-icon-soccer"></i> {% trans "Goals" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Goals' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    {% include 'left_sidebar.html' %}

    <div id="main-column" class="col-md-9">

        <div class="page-header">
            <h2>{% trans 'Goals' %}</h2>
        </div>

        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}


        <div class="row">
            <div class="col-md-12 goal-toolbar">
                <div class="input-toolbar" role="toolbar">
                    <div class="col-md-6 pull-right" role="toolbar">
                        <form class="form-inline" type="get" action="{% url 'search_test' %}">
                        <div class="input-group form-search">
                                <input id="id_q" name="q" type="search" class="form-control search-query">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary" data-type="last">{% trans 'Search' %}</button>
                                </span>

                        </div>
                        </form>
                    </div>
                    <div class="btn-group">
                        <a href="{% url 'goals_add' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add Goal' %}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                {% if goal_list %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans 'Goal name' %}</th>
                            <th>{% trans 'Description' %}</th>
                            <th>{% trans 'Snippets' %}</th>
                            <th>{% trans 'Workspaces' %}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for goal in goal_list %}
                            <tr>
                                <td>{% if goal.is_private %}<span class="badge badge-danger">{% trans 'Private' %}</span>{% else %}<span class="badge badge-success">{% trans 'Public' %}</span>{% endif %}</td>
                                <td><a href="{% url 'goal_detail' goal.owner.username goal.uuid %}" title="{{ goal.title }}">{{ goal.title }}</a></td>
                                <td>{{ goal.description }}<br/>
                                    <em>{% trans 'Tags:' %} {% for tag in goal.tags.all %}
                                        <a href="{% url 'tag_detail' request.user.username tag.uuid %}" title="{{tag.title}}">{{tag.title}}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}</em></td>
                                <td>{{ goal.snippets.count }}</td>
                                <td>{% for workspace in goal.workspaces.all %}
                                    <a href="{% url 'workspace_detail' request.user.username workspace.uuid %}" title="{{workspace.title}}">{{workspace.title}}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}</td>
                                <td>
                                    <button class="btn btn-link codesnug-delete-btn" type="button" data-toggle="modal" data-target="#myModal-{{ goal.uuid }}" title="{% trans 'Remove Goal' %}"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    {% for goal in goal_list %}
                        <!-- {{ goal.title }} -->
                        <div id="myModal-{{ goal.uuid }}" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title" id="mySmallModalLabel">{% trans 'Removing Goal' %}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>{% trans 'Are you sure you want to remove the Goal' %} "<strong>{{ goal.title }}</strong>"?</p>
                                        <p>{% trans 'All its contents will be removed too.' %}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" action="{% url 'goal_delete' goal.owner.username goal.uuid %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="goal_remove_id" value="{{ goal.uuid }}" />
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                                            <button type="submit" class="btn btn-link">{% trans 'Yes, remove it' %}</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                        </button>
                        {% blocktrans %}You don't have any goals yet.{% endblocktrans %}
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
</div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });
        });
    </script>
{% endblock %}