{% extends "goals/goal_details.html" %}
{% load i18n %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block header %}
    {{ form.media }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for 'goal_update' goal.owner.username goal.uuid %}
        <i class="glyphicon glyphicon-plus"></i> {% trans "Edit Goal" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {{ object.title }} {% trans 'Edit' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    {% include 'left_sidebar.html' %}

    <div id="main-column" class="col-md-9">

        <div class="page-header">
            <h2>{{ goal.title }} <small>{% trans 'Edit' %}</small></h2>
        </div>
        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <form action="" method="post" id="goal-form">
            <div class="row">
            <div class="col-md-8">
                <fieldset>
                    <legend>Goal info</legend>
                    <div class="form-group {% if form.title.errors %} has-error {% endif %}">
                        <label for="id_title" class="control-label">{% trans "Goal Title" %}</label>
                        {{ form.title|addcss:'form-control' }}
                        {% if form.title.errors %}
                            <ul class="help-block">
                                {% for error in form.title.errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                    <div class="form-group {% if form.description.errors %} has-error {% endif %}" id="description-group">
                        <label for="id_description" class="control-label">{% trans "Description" %}</label>
                        {{ form.description|attr:"rows:3"|addcss:'form-control' }}
                        {% if form.description.errors %}
                            <ul class="help-block">
                                {% for error in form.description.errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </fieldset>

                <fieldset id="fields_snippet_0">
                    <div class="row">
                        <div class="form-group">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="col-xs-4 {% if form.snippet_title_0.errors %} has-error {% endif %}">
                                    {{ form.snippet_title_0|attr:"placeholder:File name"|addcss:'form-control' }}
                                    {% if form.snippet_title_0.errors %}
                                        <ul class="help-block">
                                            {% for error in form.snippet_title_0.errors %}
                                                <li>{{ error|escape }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                <div class="btn-group btn-group-sm">
                                    <button type="button" id="font_smaller_0" class="btn btn-default" title="{% trans 'Make font smaller' %}"><i class="glyphicon glyphicon-chevron-down"></i><i class="glyphicon glyphicon-font"></i></button>
                                    <button type="button" id="font_bigger_0" class="btn btn-default" title="{% trans 'Make font bigger' %}"><i class="glyphicon glyphicon-chevron-up"></i><i class="glyphicon glyphicon-font"></i></button>
                                </div>

                                <div class="col-xs-3 ">
                                    {{ form.snippet_language_0|addcss:'form-control' }}
                                    {% if form.snippet_language_0.errors %}
                                        <ul class="help-block">
                                            {% for error in form.snippet_language_0.errors %}
                                                <li>{{ error|escape }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group {% if form.snippet_text_0.errors %} has-error {% endif %}">

                        <div id="editor" class="django-ace-editor"></div>
                        {{ form.snippet_text_0|attr:"rows:15"|addcss:'form-control' }}
                        {% if form.snippet_text_0.errors %}
                            <ul class="help-block">
                                {% for error in form.snippet_text_0.errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>

                </fieldset>

                {% for snippet in snippets_extra %}
                    {% if 'snippet_title_' in snippet.field.name  %}
                        <fieldset id="fields_snippet_{{ snippet.count }}">
                            <div class="form-group">
                                <div class="btn-toolbar" role="toolbar">
                                    <div class="col-xs-4 {% if snippet.field.errors %} has-error {% endif %}">
                                        {{ snippet.field|attr:"placeholder:File name"|addcss:'form-control' }}
                                        {% if snippet.field.errors %}
                                            <ul class="help-block">
                                                {% for error in snippet.field.errors %}
                                                    <li>{{ error|escape }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                    <div class="btn-group btn-group-sm">
                                        <button type="button" id="font_smaller_{{ snippet.count }}" class="btn btn-default" title="{% trans 'Make font smaller' %}"><i class="glyphicon glyphicon-chevron-down"></i><i class="glyphicon glyphicon-font"></i></button>
                                        <button type="button" id="font_bigger_{{ snippet.count }}" class="btn btn-default" title="{% trans 'Make font bigger' %}"><i class="glyphicon glyphicon-chevron-up"></i><i class="glyphicon glyphicon-font"></i></button>
                                    </div>

                                    {% elif 'snippet_language_' in snippet.field.name %}

                                    <div class="col-xs-3 ">
                                        {{ snippet.field|addcss:'form-control' }}
                                        {% if snippet.field.errors %}
                                            <ul class="help-block">
                                                {% for error in snippet.field.errors %}
                                                    <li>{{ error|escape }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% elif 'snippet_text_' in snippet.field.name %}
                            <div class="form-group {% if snippet.field.errors %} has-error {% endif %}">

                                <div id="editor_{{ snippet.count }}" class="django-ace-editor"></div>
                                {{ snippet.field|attr:"rows:15"|addcss:'form-control' }}
                                {% if snippet.field.errors %}
                                    <ul class="help-block">
                                        {% for error in snippet.field.errors %}
                                            <li>{{ error|escape }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-link" type="button" id="remove_snippet_{{ snippet.count }}">{% trans 'Remove this snippet' %}</button>
                            </div>

                        </fieldset>

                    {% endif %}
                {% endfor %}

                </fieldset>
                <div class="form-group">
                    <button type="button" id="add-another" class="btn btn-default">{% trans 'Add another snippet' %}</button>
                </div>

            </div>
            <div class="col-md-4" id="save-sidebar">
                <div id="buscador-vo" class="buscador">
                    <div class="panel-group panel-group-lists collapse in" id="accordion">
                        <div class="panel form-group {% if form.workspaces.errors %} has-error {% endif %}">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseWorkspaces">
                                        {% trans "Workspaces" %}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseWorkspaces" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="checkbox">
                                        {{ form.workspaces|addcss:'form-control' }}
                                    </div>
                                    <div class="panel-group panel-group-lists collapse in" id="accordion2">
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                                        {% trans '+ Add new Workspace' %}
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control input-sm" id="new-workspace-title" name="new-workspace-title" placeholder="{% trans 'Workspace title' %}">
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="button" class="btn btn-primary btn-sm" id="add-workspace-button">{% trans 'Add new workspace' %}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel form-group {% if form.tags.errors %} has-error {% endif %}">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTags">
                                        {% trans "Tags" %}
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTags" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="checkbox">
                                        {{ form.tags|addcss:'form-control' }}
                                    </div>
                                    <div class="panel-group panel-group-lists collapse in" id="accordion3">
                                        <div class="panel">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion3" href="#collapseFive" class="collapsed">
                                                        {% trans '+ Add new Tag' %}
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseFive" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control input-sm" id="new-tag-title" name="new-tag-title" placeholder="{% trans 'Tag title' %}">
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="button" class="btn btn-primary btn-sm" id="add-tag-button">{% trans 'Add new tag' %}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-body">
                                {% csrf_token %}
                                <div class="checkbox {% if form.is_private.errors %} has-error {% endif %}">
                                    <div class="icheckbox_flat" style="position: relative;">
                                        {{ form.is_private }}<ins class="iCheck-helper"></ins>
                                    </div>
                                    <label for="id_is_private"> Keep it private.</label>
                                    {% if form.is_private.errors %}
                                        <ul class="help-block">
                                            {% for error in form.is_private.errors %}
                                                <li>{{ error|escape }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                                {{ form.snippet_count }}
                                <div class="form-group {% if form.workspaces.errors %} has-error {% endif %}">
                                    <button type="submit" class="btn btn-success">{% trans 'Update Goal' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </form>
    </div>
</div>
    </div>
{% endblock %}

{% block footer %}

    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/ace_editor/' %}src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/ace_editor/' %}src/ext-modelist.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        $(function() {
            do_iCheck();
        });

        function do_iCheck(){
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });
        }

        var textarea = $('#id_snippet_text_0');
        textarea.css({display:'none'});
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/chrome");
        //editor.getSession().setMode("ace/mode/text");

        $("#id_snippet_language_0").change(function () {
            editor.getSession().setMode("ace/mode/" + $(this).val());
        });

        var modelist = require('ace/ext/modelist');

        var modeEl = $("#id_snippet_language_0");
        //modeEl.empty();
        editor.getSession().setMode("ace/mode/" + modeEl.val());

        editor.getSession().on('change', function () {
            textarea.val(editor.getSession().getValue());
        });
        editor.setValue(textarea.val());
        editor.session.selection.clearSelection();

        var button_font_up = $("#font_bigger_0");

        button_font_up.click(function() {
            editor.setFontSize(editor.getFontSize()+2);
        });

        var button_font_up = $("#font_smaller_0");

        button_font_up.click(function() {
            editor.setFontSize(editor.getFontSize()-2);
        });

        {% for i in snippet_ranges %}
            var textarea_{{ i }} = $('#id_snippet_text_{{ i }}');
            textarea_{{ i }}.css({display:'none'});
            var editor_{{ i }} = ace.edit("editor_{{ i }}");
            editor_{{ i }}.setTheme("ace/theme/chrome");
            //editor_{{ i }}.getSession().setMode("ace/mode/text");
            editor_{{ i }}.getSession().on('change', function () {
                textarea_{{ i }}.val(editor_{{ i }}.getSession().getValue());
            });
            editor_{{ i }}.setValue(textarea_{{ i }}.val());
            editor_{{ i }}.session.selection.clearSelection();

            $("#id_snippet_language_{{ i }}").change(function () {
                editor_{{ i }}.getSession().setMode("ace/mode/" + $(this).val());
            });
            editor_{{ i }}.getSession().setMode("ace/mode/" + modeEl.val());

            var modelist = require('ace/ext/modelist');

            var button_font_up_{{ i }} = $("#font_bigger_{{ i }}");

            button_font_up_{{ i }}.click(function() {
                editor_{{ i }}.setFontSize(editor_{{ i }}.getFontSize()+2);
            });

            var button_font_up_{{ i }} = $("#font_smaller_{{ i }}");

            button_font_up_{{ i }}.click(function() {
                editor_{{ i }}.setFontSize(editor_{{ i }}.getFontSize()-2);
            });

            var remove_snippet_{{ i }} = $("#remove_snippet_{{ i }}");
            remove_snippet_{{ i }}.click(function() {
                $("#fields_snippet_{{ i }}").remove();
                var form_count = $("#id_snippet_count").val();
                form_count --;
                $("#id_snippet_count").val(form_count);
            });
        {% endfor %}

        $('#add-workspace-button').click(function(e) {
            console.log($('#new-workspace-title').val());
            ajaxPost('/add-workspace', {'workspace_name': $('#new-workspace-title').val()}, function (content) {
                //onSuccess

                console.log(content);
                if (content['id'] != 'null'){
                    append_workspace(content['title'], content['id']);
                }else{
                    alert("{% trans 'Workspace can not be added.' %}");
                }

            });
        });

        function append_workspace(title, id){
            var workspaces_select = $('#id_workspaces');
            var count = $("#id_workspaces li").length;

            workspaces_select.append('<li><label for="id_workspaces_'+count+'"><input checked="checked" type="checkbox" value="' + id + '" name="workspaces"> ' + title + '</label></li>');
            do_iCheck();
            $('#add-workspace-button').after('<p><div class="alert alert-success alert-dismissable">' +
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>' +
                    '{% trans 'Workspace added successfully' %}' +
                    '</div></p>');
            slide_alerts();
        }

        $('#add-tag-button').click(function(e) {
            console.log($('#new-tag-title').val());
            ajaxPost('/add-tag', {'tag_name': $('#new-tag-title').val()}, function (content) {
                //onSuccess

                console.log(content);
                if (content['id'] != 'null'){
                    append_tag(content['title'], content['id']);
                }else{
                    alert("{% trans 'Tag can not be added.' %}");
                }

            });
        });

        function append_tag(title, id){
            var workspaces_select = $('#id_tags');
            var count = $("#id_tags li").length;

            workspaces_select.append('<li><label for="id_tags_'+count+'"><input checked="checked" type="checkbox" value="' + id + '" name="tags"> ' + title + '</label></li>');
            do_iCheck();
            $('#add-tag-button').after('<p><div class="alert alert-success alert-dismissable">' +
                    '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>' +
                    '{% trans 'Tag added successfully' %}' +
                    '</div></p>');
            slide_alerts();
        }

        function slide_alerts(){
            $("#new-tag-title").val('');
            $("#new-workspace-title").val('');
            $(".alert-dismissable").fadeTo(2000, 500).slideUp(500, function(){
                $(".alert-dismissable").empty();
                $(".alert-dismissable").remove();
            });
        }

    </script>
{% endblock %}