{% extends "goals/goal_list.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_filters %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for 'goal_detail' goal.owner.username goal.uuid %}
        <i class="custom-icon-soccer"></i> <i>Goal:</i> {{ goal.title }}
    {% endbreadcrumb_for %}
{% endblock %}
{% block header %}
    <script src="{% static 'js/ace_editor/' %}src/ace.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block title %}CodeSnug | {% trans 'Goal ' %} {{ object.title }} {% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    {% include 'left_sidebar.html' %}

    <div id="main-column" class="col-md-9">

        <div class="page-header">
            <h2>{{ goal.title }}</h2>
        </div>

        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <div class="row">
            <div class="col-md-12 goal-toolbar">
                <div class="btn-toolbar pull-right" role="toolbar">
                    <div class="btn-group">
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default" title="{% trans 'Back' %}"><i class="glyphicon glyphicon-chevron-left"></i> {% trans 'Back' %}</a>
                    </div>
                </div>
                {% if current_user_permissions < WORKSPACE_PERMISSIONS.2.0 %}
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                            <a class="btn btn-default" type="button" href="{% url 'goal_update' request.user.username goal.uuid %}"><i class="glyphicon glyphicon-edit"></i> {% trans 'Edit' %}</a>
                        </div>
                        {% if current_user_permissions < WORKSPACE_PERMISSIONS.1.0 %}
                            <div class="btn-group">
                                <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#myModal-{{ goal.uuid }}"><i class="glyphicon glyphicon-remove"></i> {% trans 'Remove' %}</button>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="panel">
                    <div class="panel-body">
                        <p>{{ goal.description }}</p>
                    </div>
                    <ul class="list-group">
                        {% for snippet in goal.snippets.all %}
                            <li class="list-group-item">
                                <div class="snippet-header">
                                    <div class="btn-toolbar pull-right" role="toolbar">
                                        <div class="btn-group">
                                            <span class="label label-default">{{ snippet.get_language_display }}</span>
                                        </div>
                                    </div>
                                    <h4>{{ snippet.title }}</h4>
                                </div>
                                <div id="snippet-text-{{ snippet.uuid }}" class="snippet-text">{{ snippet.text }}</div>
                                <div class="btn-toolbar" role="toolbar">
                                    {% if current_user_permissions < WORKSPACE_PERMISSIONS.1.0 %}
                                        <div class="btn-group pull-right">
                                            <a class="btn btn-xs btn-default" href="{% url 'snippet_detail' username=goal.owner.username goal_uuid=goal.uuid uuid=snippet.uuid %}"><i class="glyphicon glyphicon-chevron-right"></i> {% trans 'View revisions' %}</a>
                                        </div>
                                    {% endif %}
                                    <div class="btn-group">
                                        <form method="post" action="{% url 'download_snippet' goal.owner.username snippet.uuid %}">
                                            {% csrf_token %}
                                            <button class="btn btn-xs btn-info" type="submit">{% trans 'Download Snippet' %}</button>
                                        </form>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    var editor_{{ snippet.uuid }} = ace.edit("snippet-text-{{ snippet.uuid }}");
                                    editor_{{ snippet.uuid }}.setTheme("ace/theme/chrome");
                                    editor_{{ snippet.uuid }}.setReadOnly(true);
                                    editor_{{ snippet.uuid }}.getSession().setMode("ace/mode/{{ snippet.language }}");
                                    editor_{{ snippet.uuid }}.setOptions({
                                        maxLines: editor_{{ snippet.uuid }}.session.getLength()
                                    });

                                </script>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                {% if current_user_permissions < WORKSPACE_PERMISSIONS.2.0 %}
                    <div id="myModal-{{ object.uuid }}" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="mySmallModalLabel">{% trans 'Removing Goal' %}</h4>
                                </div>
                                <div class="modal-body">
                                    <p>{% blocktrans %}Are you sure you want to remove the goal "<strong>{{ object.title }}</strong>"?{% endblocktrans %}</p>
                                    <p>{% blocktrans %}All its contents will be removed too.{% endblocktrans %}</p>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action="{% url 'goal_delete' goal.owner.username goal.uuid %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="goal_remove_id" value="{{ object.uuid }}" />
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                                        <button type="submit" class="btn btn-link">{% trans 'Yes, remove it' %}</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                {%  endif %}
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans 'Goal Information' %}</div>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>{% trans 'Privacy:' %}</strong>{% if goal.is_private %}<span class="badge badge-danger">{% trans 'Private' %}</span>{% else %}<span class="badge badge-success">{% trans 'Public' %}</span>{% endif %}</li>
                        <li class="list-group-item"><strong>{% trans 'Number of snippets:' %}</strong> {{ goal.snippets.count }}</li>
                        <li class="list-group-item"><strong>{% trans 'Author:' %}</strong> {{ goal.owner.username }}</li>
                        <li class="list-group-item"><strong>{% trans 'Creation date:' %}</strong> {{ goal.created_at }}</li>
                    </ul>
                </div>

                {% if current_user_permissions < WORKSPACE_PERMISSIONS.1.0 %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{% trans 'Workspaces' %}</div>
                        <div class="panel-body">
                            {% if goal.workspaces.all %}
                                <ul>
                                    {% for workspace in goal.workspaces.all %}
                                        <li>
                                            <a href="{% url 'workspace_detail' request.user.username workspace.uuid %}"
                                               title="{{ workspace.title }}">{{ workspace.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <div class="alert alert-info alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                    </button>
                                    {% blocktrans %}This goal isn't in any workspace.{% endblocktrans %}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">{% trans 'Tags' %}</div>
                        <div class="panel-body">
                            {% if goal.tags.all %}
                                <ul>
                                    {% for tag in goal.tags.all %}
                                        <li>
                                            <a href="{% url 'tag_detail' request.user.username tag.uuid %}"
                                               title="{{ tag.title }}">{{ tag.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <div class="alert alert-info alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                    </button>
                                    {% blocktrans %}This goal doensn't have any tags.{% endblocktrans %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <div class="panel panel-default">
                    <div class="panel-heading">{% trans 'Download' %}</div>
                    <div class="panel-body text-center">
                        <form method="post" action="{% url 'download_goal' goal.owner.username goal.uuid %}">
                            {% csrf_token %}
                            <button class="btn btn-info" type="submit" id="download_goal_{{ goal.uuid }}">{% trans 'Download Goal' %}</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });
        });
    </script>
{% endblock %}