{% extends "goals/goal_details.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_filters %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for 'snippet_detail' goal.owner.username snippet.uuid %}
        <i class="glyphicon glyphicon-inbox"></i> {% trans 'Snippet revisions:' %} {{ snippet.title }}
    {% endbreadcrumb_for %}
{% endblock %}
{% block header %}
    <script src="{% static 'js/ace_editor/' %}src/ace.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block title %}CodeSnug | {% trans 'Snippet' %} {{ object.title }} {% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    {% include 'left_sidebar.html' %}

    <div id="main-column" class="col-md-9">

        <div class="page-header">
            <h2>{{ snippet.title }} <small>{{ goal.title }}</small></h2>
        </div>

        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <div class="row">
            <div class="col-md-12 goal-toolbar">
                <div class="btn-toolbar pull-right" role="toolbar">
                    <div class="btn-group">
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default" title="{% trans 'Back' %}"><i class="glyphicon glyphicon-chevron-left"></i> {% trans 'Back' %}</a>
                    </div>
                </div>

                {% if current_user_permissions < WORKSPACE_PERMISSIONS.2.0 %}
                    <div class="btn-toolbar" role="toolbar">
                        {% if current_user_permissions < WORKSPACE_PERMISSIONS.1.0 %}
                            <div class="btn-group">
                                <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#myModal-{{ snippet.uuid }}" {% if goal.snippets.count == 1 %} disabled {% endif %}><i class="glyphicon glyphicon-remove"></i> {% trans 'Remove snippet' %}</button>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="panel">
                    <div class="panel-body">
                        <div class="goal-meta">
                            <p><small>{% blocktrans %}Published on {{ object.created_at }} by {{ object.author.username }}{% endblocktrans %}</small></p>
                        </div>
                        <div class="snippet-header">
                            <div class="btn-toolbar pull-right" role="toolbar">
                                <div class="btn-group">
                                    <span class="label label-default">{{ snippet.get_language_display }}</span>
                                </div>
                            </div>
                            <h4>{{ snippet.title }}</h4>
                        </div>
                        <div id="snippet-text-{{ snippet.uuid }}" class="snippet-text">{{ snippet.text }}</div>
                        <script type="text/javascript">
                            var editor_{{ snippet.uuid }} = ace.edit("snippet-text-{{ snippet.uuid }}");
                            editor_{{ snippet.uuid }}.setTheme("ace/theme/chrome");
                            editor_{{ snippet.uuid }}.setReadOnly(true);
                            editor_{{ snippet.uuid }}.getSession().setMode("ace/mode/{{ snippet.language }}");
                            editor_{{ snippet.uuid }}.setOptions({
                                maxLines: editor_{{ snippet.uuid }}.session.getLength()
                            });

                            $('#download_{{ snippet.uuid }}').click(function(){
                                downloadCode('code.txt', editor_{{ snippet.uuid }},'text/plain');
                            });

                        </script>
                    </div>
                </div>

                <div class="panel-group panel-group-lists collapse in" id="accordion2">
                    {% if snippet.versions.all %}
                        {% for version in snippet.versions.all %}
                            <div class="panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse-{{ version.uuid }}">
                                            <span class="pull-right">{{ version.created_at }}</span>
                                            Version {{ version.version_number }}
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-{{ version.uuid }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div id="version-text-{{ version.uuid }}" class="snippet-text">{{ version.text }}</div>
                                        <div class="btn-toolbar" role="toolbar">
                                            <div class="btn-group">
                                                <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal-{{ version.uuid }}" type="button" id="restore_{{ version.uuid }}">Restore this version</button>
                                            </div>
                                        </div>
                                        <script type="text/javascript">
                                            var editor_{{ version.uuid }} = ace.edit("version-text-{{ version.uuid }}");
                                            editor_{{ version.uuid }}.setTheme("ace/theme/chrome");
                                            editor_{{ version.uuid }}.setReadOnly(true);
                                            editor_{{ version.uuid }}.getSession().setMode("ace/mode/{{ version.language }}");
                                            editor_{{ version.uuid }}.setOptions({
                                                maxLines: editor_{{ version.uuid }}.session.getLength()
                                            });

                                        </script>
                                    </div>
                                </div>
                            </div>
                            {% if current_user_permissions < WORKSPACE_PERMISSIONS.2.0 %}
                                <div id="myModal-{{ version.uuid }}" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                <h4 class="modal-title" id="mySmallModalLabel">{% trans 'Restoring version' %}</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>{% blocktrans %}Are you sure you want to restore the snippet with "<strong>Version {{ version.version_number }}</strong>"?{% endblocktrans %}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <form method="post" action=".">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="version_restore_id" value="{{ version.uuid }}" />
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                                                    <button type="submit" class="btn btn-link">{% trans 'Yes, restore it' %}</button>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            {%  endif %}
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                            </button>
                            {% blocktrans %}This snippet doesn't have versions yet.{% endblocktrans %}
                        </div>
                    {% endif %}
                </div>

                {% if current_user_permissions < WORKSPACE_PERMISSIONS.2.0 %}
                    <div id="myModal-{{ snippet.uuid }}" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title" id="mySmallModalLabel">{% trans 'Removing Snippet' %}</h4>
                                </div>
                                <div class="modal-body">
                                    <p>{% blocktrans %}Are you sure you want to remove the snippet "<strong>{{ snippet.title }}</strong>"?{% endblocktrans %}</p>
                                </div>
                                <div class="modal-footer">
                                    <form method="post" action=".">
                                        {% csrf_token %}
                                        <input type="hidden" name="snippet_remove_id" value="{{ snippet.uuid }}" />
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                                        <button type="submit" class="btn btn-link">{% trans 'Yes, remove it' %}</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                {%  endif %}
            </div>

            <div class="col-md-3">

                <div class="panel panel-default">
                    <div class="panel-heading">{% trans 'Download' %}</div>
                    <div class="panel-body text-center">
                        <form method="post" action="{% url 'download_snippet' request.user.username snippet.uuid %}">
                            {% csrf_token %}
                            <button class="btn btn-info" type="submit">Download Snippet</button>
                        </form>                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });
        });

        function downloadCode(filename, editor, mimeType) {
            var link = document.createElement('a');
            mimeType = mimeType || 'text/plain';

            link.setAttribute('download', filename);
            link.setAttribute('href', 'data:' + mimeType  +  ';charset=utf-8,' + editor.getValue());
            link.click();
        }
    </script>
{% endblock %}