{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for 'tags_list' request.user.username %}
        <i class="glyphicon glyphicon-user"></i> {% trans "Tags" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Tags' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    {% include 'left_sidebar.html' %}

    <div id="main-column" class="col-md-9">

        <div class="page-header">
            <h2>{% trans 'Tags' %}</h2>
        </div>
        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <div class="row">
            <div class="col-md-12 goal-toolbar">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                        <a href="{% url 'tags_add' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add Tag' %}</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">

                {% if tag_list %}

                    <ul class="nav nav-pills">
                        {% for tag in tag_list %}
                        <li>
                            <a href="{% url 'tag_detail' request.user.username tag.uuid %}" title="{{ tag.title }}">
                                <span class="badge pull-right">{{ tag.goals.count }}</span>
                                {{ tag.title }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>

                {% else %}
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                        </button>
                        {% blocktrans %}You don't have any tags yet.{% endblocktrans %}
                    </div>
                {% endif %}

            </div>

        </div>

    </div>
</div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });
        });
    </script>
{% endblock %}