{% extends "goals/tag_list.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_filters %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for 'tag_detail' object.owner.username object.uuid %}
        <i class="glyphicon glyphicon-inbox"></i> {{ object.title }}
    {% endbreadcrumb_for %}
{% endblock %}
{% block header %}
    <script src="{% static 'js/ace_editor/src/ace.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block title %}CodeSnug | {% trans 'Tag ' %} {{ object.title }} {% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    {% include 'left_sidebar.html' %}

    <div id="main-column" class="col-md-9">

        <div class="page-header">
            <h2>{{ object.title }}</h2>
        </div>

        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <div class="row">
            <div class="col-md-12 goal-toolbar">
                <div class="btn-toolbar pull-right" role="toolbar">
                    <div class="btn-group">
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default" title="{% trans 'Back' %}"><i class="glyphicon glyphicon-arrow-left"></i> {% trans 'Back' %}</a>
                    </div>
                </div>
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                        <a href="{% url 'goals_add' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add Goal' %}</a>
                    </div>
                    <div class="btn-group">
                        <a href="{% url 'tag_update' object.owner.username object.uuid  %}" class="btn btn-default" title="{% trans 'Edit Tag' %}"><i class="glyphicon glyphicon-edit"></i>{% trans 'Edit' %}</a>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#myModal-{{ object.uuid }}"><i class="glyphicon glyphicon-trash"></i> {% trans 'Delete' %}</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                {% if object.goals.all %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans 'Goal name' %}</th>
                            <th>{% trans 'Description' %}</th>
                            <th>{% trans 'Snippets' %}</th>
                            <th>{% trans 'Workspaces' %}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for goal in object.goals.all %}
                            <tr>
                                <td>{% if goal.is_private %}<span class="badge badge-danger">{% trans 'Private' %}</span>{% else %}<span class="badge badge-success">{% trans 'Public' %}</span>{% endif %}</td>
                                <td><a href="{% url 'goal_detail' goal.owner.username goal.uuid %}" title="{{ goal.title }}">{{ goal.title }}</a></td>
                                <td>{{ goal.description }}<br/>
                                    <em>{% trans 'Tags:' %} {% for tag in goal.tags.all %}
                                        <a href="{% url 'tag_detail' request.user.username tag.uuid %}" title="{{tag.title}}">{{tag.title}}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}</em></td>
                                <td>{{ goal.snippets.count }}</td>
                                <td>{% for workspace in goal.workspaces.all %}
                                    <a href="{% url 'workspace_detail' request.user.username workspace.uuid %}" title="{{workspace.title}}">{{workspace.title}}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}</td>
                                <td>
                                    <button class="btn btn-link codesnug-delete-btn" type="button" data-toggle="modal" data-target="#myModal-{{ goal.uuid }}" title="{% trans 'Remove Goal' %}"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    {% for goal in goal_list %}
                        <div id="myModal-{{ goal.uuid }}" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title" id="mySmallModalLabel">{% trans 'Removing Goal' %}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>{% blocktrans %}Are you sure you want to remove the goal "<strong>{{ goal.title }}</strong>"?{% endblocktrans %}</p>
                                        <p>{% blocktrans %}All its code files will be removed too.{% endblocktrans %}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" action="{% url 'goal_delete' goal.owner.username goal.uuid %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="goal_remove_id" value="{{ goal.uuid }}" />
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                                            <button type="submit" class="btn btn-link">{% trans 'Yes, remove it' %}</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                        </button>
                        {% blocktrans %}You don't have any goals yet.{% endblocktrans %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div id="myModal-{{ object.uuid }}" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="mySmallModalLabel">{% trans 'Removing Tag' %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% trans 'Are you sure you want to remove the tag' %} "<strong>{{ object.title }}</strong>"?</p>
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="{% url 'tag_delete' object.owner.username object.uuid %}">
                            {% csrf_token %}
                            <input type="hidden" name="tag_remove_id" value="{{ object.uuid }}" />
                            <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                            <button type="submit" class="btn btn-link">{% trans 'Yes, remove it' %}</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });
        });
    </script>
{% endblock %}