{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_filters %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for 'workspaces_list' request.user.username %}
        <i class="glyphicon glyphicon-inbox"></i> {% trans "Workspaces" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Workspaces' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
            {% include 'left_sidebar.html' %}

            <div id="main-column" class="col-md-9">

                <div class="page-header">
                    <h2>{% trans "Workspaces" %}</h2>
                </div>

                {% render_breadcrumbs "breadcrumbs.html" %}

                {% include "messages.html" %}

                <div class="row">
                    <div class="col-md-12 goal-toolbar">
                            <div class="btn-toolbar" role="toolbar">
                                    <div class="btn-group">
                                        <a href="{% url 'workspaces_add' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> {% trans "Add Workspace" %}</a>
                                    </div>
                            </div>
                    </div>
                </div>
                <div class="panel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="main-tabs">
                        <li class="active"><a href="#my-workspaces" role="tab" data-toggle="tab">{% trans "My Workspaces" %}</a></li>
                        <li><a href="#others-workspaces" role="tab" data-toggle="tab">{% trans "Other's Workspaces" %}</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="my-workspaces">

                            {% if workspace_list %}
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{% trans "Workspace Name" %}</th>
                                        <th>{% trans "Description" %}</th>
                                        <th>{% trans "Goals" %}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for workspace in object_list %}
                                        <tr>
                                            <td></td>
                                            <td><a href="{% url 'workspace_detail' workspace.owner.username workspace.uuid %}" title="{{ workspace.title }}">{{ workspace.title }}</a></td>
                                            <td>{{ workspace.description }}</td>
                                            <td>{{ workspace.goals.count }}</td>
                                            <td>
                                                <button class="btn btn-link codesnug-delete-btn" type="button" data-toggle="modal" data-target="#myModal-{{ workspace.uuid }}" title="{% trans "Delete Workspace" %}"><i class="glyphicon glyphicon-trash"></i></button>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>

                                {% for workspace in workspace_list %}
                                    <div id="myModal-{{ workspace.uuid }}" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                    <h4 class="modal-title" id="mySmallModalLabel">{% trans "Removing Workspace" %}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>{% trans "Are you sure you want to remove the workspace" %} "<strong>{{ workspace.title }}</strong>"?</p>
                                                    <p>{% trans "All its contents will be removed too." %}</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <form method="post" action="{% url 'workspace_delete' workspace.owner.username workspace.uuid %}">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="workspace_remove_id" value="{{ workspace.uuid }}" />
                                                        <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Cancel" %}</button>
                                                        <button type="submit" class="btn btn-link">{% trans "Yes, remove it" %}</button>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-info alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                    </button>
                                    {% blocktrans %}You don't have any workspaces yet.{% endblocktrans %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="tab-pane" id="others-workspaces">

                            {% if others_workspaces %}
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>{% trans "Workspace Name" %}</th>
                                        <th>{% trans "Description" %}</th>
                                        <th>{% trans "Permissions" %}</th>
                                        <th>{% trans "Owner" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for workspace_permission in others_workspaces %}
                                        <tr>
                                            <td></td>
                                            <td><a href="{% url 'workspace_detail' workspace_permission.workspace.owner.username workspace_permission.workspace.uuid %}" title="{{ workspace_permission.workspace.title }}">{{ workspace_permission.workspace.title }}</a></td>
                                            <td>{{ workspace_permission.workspace.description }}</td>
                                            <td>{{ workspace_permissions|lookup_permission_text:workspace_permission.permission }}</td>
                                            <td>{{ workspace_permission.workspace.owner.username }}</td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            {% else %}
                                <div class="alert alert-info alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                    </button>
                                    {% blocktrans %}You don't have access to other users workspaces yet.{% endblocktrans %}
                                </div>
                            {% endif %}
                        </div>

                    </div>

                </div>
            </div>
    </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });

            $('#main-tabs a[href="#others-workspaces"]').tab('show');
            $('#main-tabs a[href="#my-workspaces"]').tab('show');

        });
    </script>
{% endblock %}