{% extends "goals/workspace_list.html" %}
{% load i18n %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load custom_filters %}
{% load widget_tweaks %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for 'workspace_add' %}
        <i class="glyphicon glyphicon-plus"></i> {% trans "Add New" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Add Workspace' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    {% include 'left_sidebar.html' %}

        <div id="main-column" class="col-md-9">

            <div class="page-header">
                <h2>{% trans "Add Workspace" %}</h2>
            </div>
            {% render_breadcrumbs "breadcrumbs.html" %}

            {% include "messages.html" %}

            <form action="" method="post">{% csrf_token %}
                <div class="form-group {% if form.title.errors %} has-error {% endif %}">
                    <label for="id_title" class="control-label">{% trans "Workspace Title" %}</label>
                    {{ form.title|addcss:'form-control' }}
                    {% if form.username.errors %}
                        <ul class="help-block">
                            {% for error in form.title.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="form-group {% if form.description.errors %} has-error {% endif %}" id="description-group">
                    <label for="id_description" class="control-label">{% trans "Description" %}</label>
                    {{ form.description|attr:"rows:3"|addcss:'form-control' }}
                    {% if form.description.errors %}
                        <ul class="help-block">
                            {% for error in form.description.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">{% trans 'Create Workspace' %}</button>
                </div>
            </form>

        </div>
</div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });
        });
    </script>
{% endblock %}