@media screen and (max-width: 1050px) {
    #main-info{
        margin: 0 auto;
        position: relative;
        display: block;
        border-radius: 0;
    }
}

@media screen and (max-width: 900px) {

    .column4{
        width: 47%;
        float: none;
    }

    .column3, .column2{
        width: 100%;
        float: none;
    }

    .column2, .column3, .column4{
        margin: 0;
    }

    #register-form .input-group input[type=text], #register-form .input-group input[type=email], #register-form .input-group input[type=password] {
        width: 94%;
    }

    #more ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    #abstract p {
        margin-top: 10px;
    }

    .container-content {
        height: 180px;
        padding-top: 71px;
    }

    #more, footer {
        padding: 20px 10px 40px 10px;
        width: 94%;
    }

    #main-header{
        font-size: 3em;
    }

}

@media screen and (max-width: 400px) {

    img{
        display: none;
    }

    .column4{
        width: 100%;
        float: none;
    }

}