body{
    background-color: #fff;
}

#header-logo{
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
}

#header-logo a{
     color: #26816a;
 }

#main-header{
    background: #000 url('../../images/home/macbook-temp.jpg') no-repeat;
    background-size: 100%;
    font-size: 4em;
    color: white;
    text-align: center;
    border-bottom: 5px solid #434A54;
}

.container-content{
    height: 512px;
    padding-top: 209px;
}

#main-info{
    opacity: 0.6;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    display: inline;
    right: 0;
    position: absolute;
}

#features{
    background-color: #656D78;
    display: inline-block;
    width: 100%;
    padding: 20px 0;
}

#features .featured{
    text-align: center;
    color: white;
}

#features .featured h3{
    font-size: 26px;
    margin-bottom: 10px;
}

#register-form{
    padding: 20px 10px;
}

#register-form h3{
    font-size: 3em;
    text-align: center;
    margin: 10px 0;
}

section{
    clear: both;
}


#register-form .checkbox{
    padding: 20px 0;
    text-align: center;
}

#main-abstract{
    padding: 20px 0;
    text-align: center;
    background-color: #F1F1F1;
    text-align: center;
    display: inline-block;
    width: 100%;
}

#main-abstract p, #abstract p{
    font-size: 1.4em;
    margin: 10px 60px;
    color: dimgrey;
}

img{
    max-width: 100%;
}

#abstract{
    padding: 20px 0;
    width: 100%;
    display: inline-block;
}

#abstract p{
    margin-top: 90px;
    text-align: center;
}

#more{
    background-color: #F1F1F1;
    padding: 20px 0 40px 0;
    width: 100%;
    display: inline-block;
}

#more ul{
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    font-size: 16px;
}

#more li{
    list-style-type: square;
    margin-left: 25px;
}

#more h3{
    font-size: 3em;
    margin: 10px 0;
}