{% load i18n %}
{% load staticfiles %}
{% load custom_filters %}
<div class="form-group {% if form.username.errors %} has-error {% endif %}">
    <label for="id_username" class="control-label">{% trans "Username" %}</label>
    {{ form.username|addcss:'form-control' }}
    {% if form.username.errors %}
        <ul class="help-block">
            {% for error in form.username.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

<div class="form-group {% if form.password.errors %} has-error {% endif %}">
    <label for="id_password" class="control-label">{% trans "Pasword" %}</label>
    {{ form.password|addcss:'form-control' }}
    {% if form.password.errors %}
        <ul class="help-block">
            {% for error in form.password.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>