{% load i18n %}
{% load staticfiles %}
{% load custom_filters %}

<fieldset>
<legend>{% trans 'Access to the beta' %}</legend>
    <div class="form-group {% if form.verify.errors %} has-error {% endif %}">
        <label for="id_verify" class="control-label required">{% trans "Beta Code" %}</label>
        {{ form.verify|addcss:'form-control' }}
        {% if form.verify.errors %}
            <ul class="help-block">
                {% for error in form.verify.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
<legend>{% trans 'Access info' %}</legend>
<div class="form-group {% if form.username.errors %} has-error {% endif %}">
    <label for="id_username" class="control-label required">{% trans "Username" %}</label>
    {{ form.username|addcss:'form-control' }}
    {% if form.username.errors %}
        <ul class="help-block">
            {% for error in form.username.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

<div class="form-group {% if form.email.errors %} has-error {% endif %}">
    <label for="id_email" class="control-label required">{% trans "Email" %}</label>
    {{ form.email|addcss:'form-control' }}
    {% if form.email.errors %}
        <ul class="help-block">
            {% for error in form.email.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

<div class="form-group {% if form.password1.errors %} has-error {% endif %}">
    <label for="id_password1" class="control-label required">{% trans "Password" %}</label>
    {{ form.password1|addcss:'form-control' }}
    {% if form.password1.errors %}
        <ul class="help-block">
            {% for error in form.password1.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

<div class="form-group {% if form.password2.errors %} has-error {% endif %}">
    <label for="id_password2" class="control-label required">{% trans "Password (again)" %}</label>
    {{ form.password2|addcss:'form-control' }}
    {% if form.password2.errors %}
        <ul class="help-block">
            {% for error in form.password2.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
</fieldset>

<fieldset>
    <legend>{% trans 'Personal info' %}</legend>

    <div class="form-group {% if form.date_of_birth.errors %} has-error {% endif %}">
        <label for="id_date_of_birth" class="control-label required">{% trans "Date of Birth" %}</label>
        {{ form.date_of_birth|addcss:'form-control' }}
        <p class="help-block">{% trans 'Format: dd/mm/YYYY.' %}</p>
        {% if form.date_of_birth.errors %}
            <ul class="help-block">
                {% for error in form.date_of_birth.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="form-group {% if form.avatar.errors %} has-error {% endif %}">
        <label for="id_avatar" class="control-label required">{% trans "Avatar" %}</label>
        {{ form.avatar|addcss:'form-control' }}
        <p class="help-block">{% trans 'Upload a png, jpg or gif.' %}</p>
        {% if form.avatar.errors %}
            <ul class="help-block">
                {% for error in form.avatar.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="form-group {% if form.first_name.errors %} has-error {% endif %}">
        <label for="id_first_name" class="control-label">{% trans "First Name" %}</label>
        {{ form.first_name|addcss:'form-control' }}
        {% if form.first_name.errors %}
            <ul class="help-block">
                {% for error in form.first_name.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="form-group {% if form.last_name.errors %} has-error {% endif %}">
        <label for="id_last_name" class="control-label">{% trans "Last Name" %}</label>
        {{ form.last_name|addcss:'form-control' }}
        {% if form.last_name.errors %}
            <ul class="help-block">
                {% for error in form.last_name.errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

</fieldset>
<div class="checkbox {% if form.tos.errors %} has-error {% endif %}">
    <div class="icheckbox_flat" style="position: relative;">
        {{ form.tos }}<ins class="iCheck-helper"></ins>
    </div>
    <label for="id_tos" class="required"> {% trans 'I accept the' %} <a href="{% url 'terms_conditions' %}" title="{% trans 'Terms & Conditions' %}" target="_blank">{% trans 'Terms & Conditions' %}</a> {% trans 'of this site.' %}</label>
    {% if form.tos.errors %}
        <ul class="help-block">
            {% for error in form.tos.errors %}
                <li>{{ error|escape }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>