{% load url from future %}
{% load i18n %}
{% load rest_framework %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
    {% block head %}

        {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />

        {% endblock %}

        <title>{% block title %}Django REST framework{% endblock %}</title>

        {% block style %}
        {% block bootstrap_theme %}
            <!-- Bootstrap core CSS -->
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'bootflat/css/bootflat.css' %}" rel="stylesheet">
            <link href="{% static 'css/style.css' %}" rel="stylesheet">
            <link rel="stylesheet" href="{% static 'css/codesnug-icons.css' %}">
            <link href="{% static 'cookielaw/css/cookielaw.css' %}" rel="stylesheet">
            <script src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>

        {% endblock %}

    {% endblock %}
    </head>

  <body class="{% block bodyclass %}{% endblock %} container">

    {% block navbar %}
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}" title="{% trans 'Codesnug home' %}">CodeSnug</a>
                </div>
                <p class="navbar-text">REST API v 1.0</p>
                <ul class="nav navbar-nav navbar-right">
                    {% block userlinks %}
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {% if user.is_authenticated %}

                                        <img src="{{ request.user.avatar.url }}" alt="{% trans 'User Avatar' %}" class="img-circle" width="25"
                                             height="25"/> {{ request.user.username }}

                                    {% else %} <span class="glyphicon glyphicon-user"></span> {% trans 'Login' %} {% endif %}
                                    <b class="caret"></b></a>
                                {% if user.is_authenticated %}
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-home"></span> {% trans 'Your Profile' %}</a></li>
                                        <li><a href="{% url 'auth_logout' %}"><i class="custom-icon-logout"></i>
                                            {% trans 'Logout' %}</a></li>
                                    </ul>
                                {% endif %}
                                {% if not user.is_authenticated %}
                                    <div class="dropdown-menu" style="padding: 15px;">
                                        <form action="{% url 'auth_login' %}" method="post">
                                            {% csrf_token %}
                                            <label for="id_username">{% trans 'Username:' %}</label>
                                            <input id="id_username" style="margin-bottom: 15px;" type="text" name="username"
                                                   size="30"/>
                                            <label for="id_password">{% trans 'Password:' %}</label>
                                            <input id="id_password" style="margin-bottom: 15px;" type="password" name="password"
                                                   size="30"/>
                                            <input type="hidden" name="next" value="{% url 'home' %}" />
                                            <input class="btn btn-primary"
                                                   style="clear: left; width: 100%; height: 32px; font-size: 13px;"
                                                   type="submit" name="commit" value="{% trans 'Sign In' %}"/>
                                        </form>
                                    </div>
                                {% endif %}
                            </li>
                        {% else %}
                            <li>{% optional_login request %}</li>
                        {% endif %}
                    {% endblock %}
                </ul>
            </div>
        </nav>
    {% endblock %}


    <div class="row" id="main-content">

        <div id="main-column" class="col-md-12">
            <div class="page-header">
                <h2>{{ name }}</h2>
            </div>
            {% block breadcrumbs %}
                <ol class="breadcrumb">
                    {% for breadcrumb_name, breadcrumb_url in breadcrumblist %}
                        <li>
                            <a href="{{ breadcrumb_url }}" {% if forloop.last %}class="active"{% endif %}>{{ breadcrumb_name }}</a> {% if not forloop.last %}<span class="divider">&rsaquo;</span>{% endif %}
                        </li>
                    {% endfor %}
                </ol>
            {% endblock %}

            <!-- Content -->
            <div id="content">
                <div class="row">
                    <div class="col-md-12 goal-toolbar">
                        {% if 'GET' in allowed_methods %}
                            <form id="get-form" class="pull-right">
                                <fieldset>
                                    <div class="btn-group format-selection">
                                        <a class="btn btn-primary js-tooltip" href='{{ request.get_full_path }}' rel="nofollow" title="Make a GET request on the {{ name }} resource">GET</a>

                                        <button class="btn btn-primary dropdown-toggle js-tooltip" data-toggle="dropdown" title="Specify a format for the GET request">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% for format in available_formats %}
                                                <li>
                                                    <a class="js-tooltip format-option" href='{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}' rel="nofollow" title="Make a GET request on the {{ name }} resource with the format set to `{{ format }}`">{{ format }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>

                                </fieldset>
                            </form>
                        {% endif %}

                        {% if options_form %}
                            <form class="button-form" action="{{ request.get_full_path }}" method="POST" class="pull-right">
                                {% csrf_token %}
                                <input type="hidden" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="OPTIONS" />
                                <button class="btn btn-primary js-tooltip" title="Make an OPTIONS request on the {{ name }} resource">OPTIONS</button>
                            </form>
                        {% endif %}

                        {% if delete_form %}
                            <form class="button-form" action="{{ request.get_full_path }}" method="POST" class="pull-right">
                                {% csrf_token %}
                                <input type="hidden" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="DELETE" />
                                <button class="btn btn-danger js-tooltip" title="Make a DELETE request on the {{ name }} resource">DELETE</button>
                            </form>
                        {% endif %}

                    </div>
                </div>



                <div class="content-main">
                    {% block description %}
                    {{ description }}
                    {% endblock %}
                    <div class="request-info" style="clear: both" >
                        <pre class="prettyprint"><b>{{ request.method }}</b> {{ request.get_full_path }}</pre>
                    </div>
                    <div class="response-info">
                        <pre class="prettyprint"><div class="meta nocode"><b>HTTP {{ response.status_code }} {{ response.status_text }}</b>{% autoescape off %}
        {% for key, val in response_headers.items %}<b>{{ key }}:</b> <span class="lit">{{ val|break_long_headers|urlize_quoted_links }}</span>
        {% endfor %}
        </div>{{ content|urlize_quoted_links }}</pre>{% endautoescape %}
                    </div>
                </div>

                    {% if display_edit_forms %}

                        {% if post_form or raw_data_post_form %}
                        <div {% if post_form %}class="tabbable"{% endif %}>
                            {% if post_form %}
                            <ul class="nav nav-tabs form-switcher">
                                <li><a name='html-tab' href="#object-form" data-toggle="tab">HTML form</a></li>
                                <li><a name='raw-tab' href="#generic-content-form" data-toggle="tab">Raw data</a></li>
                            </ul>
                            {% endif %}
                            <div class="well tab-content">
                                {% if post_form %}
                                <div class="tab-pane" id="object-form">
                                    {% with form=post_form %}
                                    <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal">
                                        <fieldset>
                                            {{ post_form }}
                                            <div class="form-actions">
                                                <button class="btn btn-primary" title="Make a POST request on the {{ name }} resource">POST</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                    {% endwith %}
                                </div>
                                {% endif %}
                                <div {% if post_form %}class="tab-pane"{% endif %} id="generic-content-form">
                                    {% with form=raw_data_post_form %}
                                    <form action="{{ request.get_full_path }}" method="POST" class="form-horizontal">
                                        <fieldset>
                                            {% include "rest_framework/raw_data_form.html" %}
                                            <div class="form-actions">
                                                <button class="btn btn-primary" title="Make a POST request on the {{ name }} resource">POST</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if put_form or raw_data_put_form or raw_data_patch_form %}
                        <div {% if put_form %}class="tabbable"{% endif %}>
                            {% if put_form %}
                            <ul class="nav nav-tabs form-switcher">
                                <li><a name='html-tab' href="#object-form" data-toggle="tab">HTML form</a></li>
                                <li><a  name='raw-tab' href="#generic-content-form" data-toggle="tab">Raw data</a></li>
                            </ul>
                            {% endif %}
                            <div class="well tab-content">
                                {% if put_form %}
                                <div class="tab-pane" id="object-form">
                                    <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal">
                                        <fieldset>
                                            {{ put_form }}
                                            <div class="form-actions">
                                                <button class="btn btn-primary js-tooltip" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="PUT" title="Make a PUT request on the {{ name }} resource">PUT</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                                {% endif %}
                                <div {% if put_form %}class="tab-pane"{% endif %} id="generic-content-form">
                                    {% with form=raw_data_put_or_patch_form %}
                                    <form action="{{ request.get_full_path }}" method="POST" class="form-horizontal">
                                        <fieldset>
                                            {% include "rest_framework/raw_data_form.html" %}
                                            <div class="form-actions">
                                                {% if raw_data_put_form %}
                                                <button class="btn btn-primary js-tooltip" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="PUT" title="Make a PUT request on the {{ name }} resource">PUT</button>
                                                {% endif %}
                                                {% if raw_data_patch_form %}
                                                <button class="btn btn-primary js-tooltip" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="PATCH" title="Make a PATCH request on the {{ name }} resource">PATCH</button>
                                                {% endif %}
                                            </div>
                                        </fieldset>
                                    </form>
                                    {% endwith %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}

                </div>
                <!-- END content-main -->

            </div>
            <!-- END Content -->

                <div id="push"></div>

            </div>
        </div>

    </div><!-- ./wrapper -->

    {% block footer %}
    {% endblock %}

    {% block script %}
    <script src="{% static "rest_framework/js/jquery-1.8.1-min.js" %}"></script>
    <script src="{% static "rest_framework/js/bootstrap.min.js" %}"></script>
    <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
    <script src="{% static "rest_framework/js/default.js" %}"></script>
    {% endblock %}
  </body>
</html>
