{% extends "users/usergroup_details.html" %}
{% load i18n %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load custom_filters %}
{% load widget_tweaks %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for asign_workspace_group %}
        <i class="glyphicon glyphicon-plus"></i> {% trans "Asign Workspace" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}Codesnug | {%  trans 'Asign workspace to group' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    {% include 'left_sidebar.html' %}

    <div id="main-column" class="col-md-9">

        <div class="page-header">
            <h2>{%  trans 'Asign Workspace to User Group' %}</h2>
        </div>
        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <form action="" method="post">{% csrf_token %}
            <div class="form-group {% if form.workspace.errors %} has-error {% endif %}">
                <label for="id_workspace" class="control-label">{% trans "Workspace:" %}</label>
                {{ form.workspace|addcss:'form-control' }}
                {% if form.workspace.errors %}
                <ul class="help-block">
                    {% for error in form.user.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="form-group {% if form.permission.errors %} has-error {% endif %}">
                <label for="id_permission" class="control-label">{% trans "Permission:" %}</label>
                {{ form.permission|addcss:'form-control' }}
                {% if form.permission.errors %}
                    <ul class="help-block">
                        {% for error in form.permission.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {{ form.usergroup }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans 'Asign Workspace to group' %}</button>
            </div>
        </form>

    </div>
    </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });
        });
    </script>
{% endblock %}