{% extends "users/usergroup_details.html" %}
{% load i18n %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load custom_filters %}
{% load widget_tweaks %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for asign_workspace_group %}
        <i class="glyphicon glyphicon-plus"></i> {% trans "Add User" %}
    {% endbreadcrumb_for %}
{% endblock %}
{% block header %}
    {% load selectable_tags %}
    {% include_jquery_libs %}
    {{ form.media }}
{% endblock %}

{% block title %}Codesnug | {% trans 'Add user to group' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    {% include 'left_sidebar.html' %}

    <div id="main-column" class="col-md-9">

        <div class="page-header">
            <h2>{% trans 'Add User to User Group' %}</h2>
        </div>
        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <form action="" method="post">{% csrf_token %}
            <div class="form-group {% if form.user.errors %} has-error {% endif %}">
                <label for="id_user" class="control-label">{% trans "User Name" %}</label>
                {{ form.user|addcss:'form-control' }}
                {% if form.user.errors %}
                    <ul class="help-block">
                        {% for error in form.user.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {{ form.usergroup }}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans 'Add User to Group' %}</button>
            </div>
        </form>

    </div>
    </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });
        });

        $(document).ready(function() {
            function formatLabel(label, item) {
                var data = label.split(',');
                return '<img src="'+data[0]+'" alt="User Avatar" class="img-rounded" width="25" height="25"/> '+data[1];
            }
            $('#id_user').djselectable('option', 'formatLabel', formatLabel);
        });
    </script>
{% endblock %}