{% extends "users/usergroup_list.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_filters %}
{% load django_bootstrap_breadcrumbs  %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for 'usergroup_detail' object.owner.username object.uuid %}
        <i class="custom-icon-users"></i> {{ object.title }}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}Codesnug | {% trans 'User Group:' %} {{ object.title }}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    {% include 'left_sidebar.html' %}

    <div id="main-column" class="col-md-9">

        <div class="page-header">
            <h2>{{ object.title }}</h2>
            <p>{{ object.description }}</p>
        </div>

        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <div class="row">
            <div class="col-md-12 goal-toolbar">
                <div class="btn-toolbar pull-right" role="toolbar">
                    <div class="btn-group">
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default" title="{% trans 'Back' %}"><i class="glyphicon glyphicon-chevron-left"></i> {% trans 'Back' %}</a>
                    </div>
                </div>
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                        <a href="{% url 'usergroup_update' usergroup.owner.username usergroup.uuid  %}" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> {% trans 'Edit' %}</a>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#myModal-{{ object.uuid }}"><i class="glyphicon glyphicon-trash"></i> {% trans 'Remove' %}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Added Users' %}</h3>
                    </div>
                    <div class="panel-body">
                        <a class="btn btn-success" href="{% url 'asign_user_group' request.user.username usergroup.uuid  %}"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add User' %}</a>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{% trans 'Username' %}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in user_list %}
                                <tr>
                                    <td><img src="{{ user.avatar.url }}" alt="User Avatar" class="img-rounded" width="40" height="40"/></td>
                                    <td>{{ user.username }}</td>
                                    <td>
                                        <button class="btn btn-link codesnug-delete-btn" type="button" data-toggle="modal" data-target="#userModal-{{ user.uuid }}"><i class="glyphicon glyphicon-trash"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Asigned Workspaces' %}</h3>
                    </div>
                    <div class="panel-body">
                        {% if request.user.owned_workspaces %}
                            <a href="{% url 'asign_workspace_group' request.user.username usergroup.uuid  %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> {% trans 'Asign Workspace' %}</a>
                        {% else %}
                            <div class="alert alert-info alert-dismissable">
                                {% trans 'You have to add at least one workspace to add it to a group.' %}
                            </div>
                        {% endif %}
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>{% trans 'Workspace Name' %}</th>
                                <th>{% trans 'Permissions' %}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for workspace_permission in workspace_permissions_list %}
                                <tr>
                                    <td><a href="{% url 'workspace_detail' workspace_permission.workspace.owner.username workspace_permission.workspace.uuid %}" title="{{ workspace_permission.workspace.title }}">{{ workspace_permission.workspace.title }}</a></td>
                                    <td>
                                        <select class="form-control input-sm" id="permission_{{ workspace_permission.uuid }}">
                                            {% for permission in WORKSPACE_PERMISSIONS %}
                                                <option value="{{ permission.0 }}" {% ifequal permission.0 workspace_permission.permission %}selected="selected"{% endifequal %}>{{ permission.1 }}</option>
                                            {% endfor %}
                                        </select>

                                    </td>
                                    <td>
                                        <button class="btn btn-link codesnug-delete-btn" type="button" data-toggle="modal" data-target="#myModal-{{ workspace_permission.uuid }}"><i class="glyphicon glyphicon-trash"></i></button>
                                    </td>
                                </tr>
                                <script type="text/javascript">
                                    $(function() {
                                        var permission_{{ workspace_permission.uuid }} = $('#permission_{{ workspace_permission.uuid }}');
                                        permission_{{ workspace_permission.uuid }}.change(function() {
                                            var post_data = {'new_permission': permission_{{ workspace_permission.uuid }}.val(), 'workspace': '{{ workspace_permission.workspace.uuid }}', 'group': '{{ object.uuid }}'};
                                            ajaxPost('/edit_workspace_permission', post_data, function (content) {

                                                if (content['id'] == 'null') {
                                                    alert({% trans '"Field can not be set."'%});
                                                }

                                            });
                                        });
                                    });
                                </script>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for workspace_permission in workspace_permissions_list %}
        <div id="myModal-{{ workspace_permission.uuid }}" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="mySmallModalLabel">{% trans 'Removing workspace' %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% trans 'Are you sure you want to delete' %} <strong>{{ workspace_permission.workspace.title }}</strong> {% trans 'from this user group?' %}</p>
                    </div>
                    <div class="modal-footer">
                        <form method="post" action=".">
                            {% csrf_token %}
                            <input type="hidden" name="workspace_remove_id" value="{{ workspace_permission.uuid }}" />
                            <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                            <button type="submit" class="btn btn-link">{% trans 'Yes, remove it' %}</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}

    {% for user in user_list %}
        <div id="userModal-{{ user.uuid }}" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="mySmallModalLabel">{% trans 'Removing user' %}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{% trans 'Are you sure you want to remove' %} <strong>{{ user.username }}</strong> {% trans 'from this user group?' %}</p>
                    </div>
                    <div class="modal-footer">
                        <form method="post" action=".">
                            {% csrf_token %}
                            <input type="hidden" name="user_remove_id" value="{{ user.uuid }}" />
                            <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                            <button type="submit" class="btn btn-link">{% trans 'Yes, remove it' %}</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}

    <div id="myModal-{{ object.uuid }}" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="mySmallModalLabel">{% trans 'Removing User Group' %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans 'Are you sure you want to remove the group' %} "<strong>{{ object.title }}</strong>"?</p>
                    <p>{% trans 'All its contents will be removed too.' %}</p>
                </div>
                <div class="modal-footer">
                    <form method="post" action="{% url 'usergroup_delete' usergroup.owner.username usergroup.uuid %}">
                        {% csrf_token %}
                        <input type="hidden" name="usergroup_remove_id" value="{{ object.uuid }}" />
                        <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                        <button type="submit" class="btn btn-link">{% trans 'Yes, remove it' %}</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });
        });
    </script>
{% endblock %}