{% extends "base.html" %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% load i18n %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for 'profile' %}
        <i class="glyphicon glyphicon-user"></i> {% trans 'Your Profile' %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block header %}
    {{ form.media }}
    <link href="{% static 'css/datepicker.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Codesnug | {%  trans 'Your Profile' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    <div class="col-md-12">

        <div class="page-header">
            <h2>{% trans "Your Profile" %}</h2>
        </div>

        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <div class="row">
            <div class="col-md-4">
                <div class="media">
                    <img src="{{ request.user.avatar.url }}" alt="User Avatar" class="img-circle center-block" id="avatar-profile" width="200" height="200" />
                </div>
                <div class="panel">
                    <div class="list-group">
                        <a href="#shortcuts" class="list-group-item"><span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>{% trans 'Shortcut Actions' %}</a>
                        <a href="#account-details" class="list-group-item"><span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>{% trans 'Account Details' %}</a>
                        <a href="#download-data" class="list-group-item"><span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>{% trans 'Download data' %}</a>
                        <a href="#latest-data" class="list-group-item"><span class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></span>{% trans 'Your latest data' %}</a>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="panel panel-default" id="shortcuts">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Shortcuts' %}</h3>
                    </div>
                    <div class="panel-body">
                        <a href="{% url 'goals_add' %}"
                           class="btn btn-success">{% trans 'Add Goal' %}</a>
                        <a href="{% url 'workspaces_add' %}"
                           class="btn btn-warning">{% trans 'Add Workspace' %}</a>
                        <a href="{% url 'usergroups_add' %}"
                           class="btn btn-primary">{% trans 'Add User Group' %}</a>
                        <a href="{% url 'tags_add' %}" class="btn btn-info">{% trans 'Add Tag' %}</a>
                    </div>
                </div>

                <div class="panel panel-default" id="account-details">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Account Details' %}</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <tr>
                                <th>{% trans 'Username' %}</th>
                                <td>{{ request.user.username }}</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th>{% trans 'Email' %}</th>
                                <td id="email-cell">{{ request.user.email }}</td>
                                <td id="email-edit-cell"><a id="edit-email" href="#"
                                                            onclick="edit_user_field('email')">{% trans 'Edit' %}</a></td>
                            </tr>
                            <tr>
                                <th>{% trans 'First Name' %}</th>
                                <td id="first_name-cell">{{ request.user.first_name }}</td>
                                <td id="first_name-edit-cell"><a id="edit-first_name" href="#"
                                                                 onclick="edit_user_field('first_name')">{% trans 'Edit' %}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans 'Last Name' %}</th>
                                <td id="last_name-cell">{{ request.user.last_name }}</td>
                                <td id="last_name-edit-cell"><a id="edit-last_name" href="#"
                                                                onclick="edit_user_field('last_name')">{% trans 'Edit' %}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans 'Birth Date' %}</th>
                                <td id="birth_date-cell">{{ request.user.date_of_birth }}</td>
                                <td id="birth_date-edit-cell"><a id="edit-birth_date" href="#"
                                                                 onclick="edit_user_field('birth_date')">{% trans 'Edit' %}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans 'Password' %}</th>
                                <td id="password-cell">******</td>
                                <td id="password-edit-cell"><a id="edit-password" href="#"
                                                               onclick="edit_user_field('password')">{% trans 'Edit' %}</a>
                                </td>
                            </tr>
                            <form enctype="multipart/form-data" method="post" action=".">
                                <tr>
                                    <th>{% trans 'Avatar' %}
                                        <p class="help-block">{% trans '(jpg, gif or png with a size lower than 500kb)' %}</p>
                                    </th>
                                    <td id="avatar-cell">
                                        {% csrf_token %}
                                        {{ form.avatar }}
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-default btn-xs" >{% trans 'Change avatar' %}</button>
                                    </td>
                                </tr>
                            </form>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default" id="download-data">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Download your data' %}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{% blocktrans %}You can download all your goals from here in JSON format.{% endblocktrans %}</p>
                        <form method="post" action="{% url 'download_data' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">{% trans 'Download' %}</button>
                        </form>
                    </div>
                </div>

                <div class="panel panel-default" id="latest-data">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Your latests Goals' %}</h3>
                    </div>
                    <div class="panel-body">
                        {% if request.user.owned_goals.all %}
                            <table class="table table-striped">
                                <tr>
                                    <th>{% trans 'Name' %}</th>
                                    <th>{% trans 'Description' %}</th>
                                    <th>{% trans 'Snippets' %}</th>
                                    <th>{% trans 'Creation date' %}</th>
                                </tr>
                                {% for goal in request.user.owned_goals.all|slice:":10" %}
                                    <tr>
                                        <td><a href="{% url 'goal_detail' request.user.username goal.uuid %}"
                                               title="{{ goal.title }}">{{ goal.title }}</a></td>
                                        <td>{{ goal.description }}</td>
                                        <td>{{ goal.snippets.count }}</td>
                                        <td>{{ goal.created_at }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <p><a href="{% url 'goals_list' request.user.username %}"
                                  class="btn btn-primary">{% trans 'View All' %}</a></p>
                        {% else %}
                            <div class="alert alert-info alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                {% blocktrans %}You don't have any workspaces yet.{% endblocktrans %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{% trans 'Your latests Workspaces' %}</h3>
                            </div>
                            <div class="panel-body">
                                {% if request.user.owned_workspaces.all %}
                                    <table class="table table-striped">
                                        <tr>
                                            <th>{% trans 'Name' %}</th>
                                            <th>{% trans 'Goals' %}</th>
                                        </tr>
                                        {% for workspace in request.user.owned_workspaces.all|slice:":10" %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'workspace_detail' request.user.username workspace.uuid %}"
                                                       title="{{ workspace.title }}">{{ workspace.title }}</a></td>
                                                <td>{{ workspace.goals.count }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    <p><a href="{% url 'workspaces_list' request.user.username %}"
                                          class="btn btn-primary">{% trans 'View All' %}</a></p>
                                {% else %}
                                    <div class="alert alert-info alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        {% blocktrans %}You don't have any workspaces yet.{% endblocktrans %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{% trans 'Your latests User Groups' %}</h3>
                            </div>
                            <div class="panel-body">
                                {% if request.user.owned_groups.all %}
                                    <table class="table table-striped">
                                        <tr>
                                            <th>{% trans 'Name' %}</th>
                                            <th>{% trans 'Users' %}</th>
                                        </tr>
                                        {% for usergroup in request.user.owned_groups.all|slice:":10" %}
                                            <tr>
                                                <td>
                                                    <a href="{% url 'usergroup_detail' request.user.username usergroup.uuid %}"
                                                       title="{{ usergroup.title }}">{{ usergroup.title }}</a></td>
                                                <td>{{ usergroup.users.count }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    <p><a href="{% url 'usergroups_list' request.user.username %}"
                                          class="btn btn-primary">{% trans 'View All' %}</a></p>
                                {% else %}
                                    <div class="alert alert-info alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                                        </button>
                                        {% blocktrans %}You don't have any user groups yet.{% endblocktrans %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    </div>
    </div>
{% endblock %}

{% block footer %}

    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript">
        function edit_user_field(field_name) {
            var cell = $("td#" + field_name + "-cell");
            var cell_val = cell.text();
            var edit_cell = $("#edit-" + field_name + "");
            var field_value = cell.text();
            cell.empty();
            edit_cell.remove();

            if (field_name === 'password') {
                cell.append('<input type="password" name="new-' + field_name + '_3" id="new-' + field_name + '_3" class="form-control form-group" placeholder="Old ' + field_name + '" />');
            }

            if (field_name === 'birth_date') {
                cell.append('<input type="text" name="new-' + field_name + '" id="new-' + field_name + '" class="form-control form-group" placeholder="' + cell_val + '" data-date-format="dd/mm/yyyy" />');
                $('#new-' + field_name + '').datepicker();
            } else if (field_name === 'email' || field_name === 'password') {
                cell.append('<input type="' + field_name + '" name="new-' + field_name + '" id="new-' + field_name + '" class="form-control form-group" placeholder="New ' + field_name + '" />');
                cell.append('<input type="' + field_name + '" name="new-' + field_name + '_2" id="new-' + field_name + '_2" class="form-control form-group" placeholder="Repeat ' + field_name + '" />');
            } else {
                cell.append('<input type="text" name="new-' + field_name + '" id="new-' + field_name + '" class="form-control" value="' + cell_val + '"/>');
            }

            cell.append('<button id="cancel-' + field_name + '" type="button" class="btn btn-link" onclick="cancel_user_field(\'' + field_name + '\',\'' + field_value + '\')">Cancel</button>');
            cell.append('<button id="save-' + field_name + '" type="button" class="btn btn-link" onclick="save_user_field(\'' + field_name + '\')">Save</button>');

        }

        function cancel_user_field(field_name, field_value) {

            var cell = $("td#" + field_name + "-cell");
            cell.empty();
            cell.append(field_value);
            $("#" + field_name + "-edit-cell").append('<a id="edit-' + field_name + '" href="#" onclick="edit_user_field(\'' + field_name + '\')">Edit</a>');

            if (field_name === 'birth_date') {
                $('.datepicker').remove();
            }

        }

        function save_user_field(field_name) {

            if (field_name === 'email' || field_name === 'password') {
                var field_verification = $('#new-' + field_name + '_2').val();

                if (field_verification !== $('#new-' + field_name + '').val()) {
                    alert("{% trans 'Fields do nott match.'%}");
                    return;
                }
                if (field_name === 'password') {
                    var old = $('#new-' + field_name + '_3').val();
                    var post_data = {'new_name': $('#new-' + field_name + '').val(), 'verification': field_verification, 'old': old};
                } else {
                    var post_data = {'new_name': $('#new-' + field_name + '').val(), 'verification': field_verification};
                }
            } else {
                var post_data = {'new_name': $('#new-' + field_name + '').val()};
            }

            ajaxPost('/edit_' + field_name + '', post_data, function (content) {

                if (content['id'] != 'null') {
                    cancel_user_field(field_name, content['title']);
                } else {
                    alert("{% trans 'Field can not be set.' %}");
                }

            });
        }
    </script>
{% endblock %}
