{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for 'usergroups_list' request.user.username %}
        <i class="custom-icon-users"></i> {% trans "Your User Groups" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Your User Groups' %}{% endblock %}

{% block content %}
<div class="container">
<div class="row" id="main-content">
    {% include 'left_sidebar.html' %}

    <div id="main-column" class="col-md-9">

        <div class="page-header">
            <h2>{% trans 'Your User Groups' %}</h2>
        </div>
        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}

        <div class="row">
            <div class="col-md-12 goal-toolbar">
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                        <a href="{% url 'usergroups_add' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> {%  trans 'Add User Group' %}</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                {% if usergroup_list %}
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{%  trans 'User Group name' %}</th>
                            <th>{%  trans 'Description' %}</th>
                            <th>{%  trans 'Users' %}</th>
                            <th>{%  trans 'Workspaces' %}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for usergroup in usergroup_list %}
                            <tr>
                                <td></td>
                                <td><a href="{% url 'usergroup_detail' usergroup.owner.username usergroup.uuid %}" title="{{ usergroup.title }}">{{ usergroup.title }}</a></td>
                                <td>{{ usergroup.description }}</td>
                                <td>{{ usergroup.users.count }}</td>
                                <td>{{ usergroup.usergroups_permissions.count }}</td>
                                <td>
                                    <button class="btn btn-link codesnug-delete-btn" type="button" data-toggle="modal" data-target="#myModal-{{ usergroup.uuid }}" title="{% trans 'Delete usergroup' %}"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    {% for usergroup in object_list %}
                        <div id="myModal-{{ usergroup.uuid }}" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title" id="mySmallModalLabel">{% trans 'Removing User Group' %}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>{% trans 'Are you sure you want to remove the group' %} "<strong>{{ usergroup.title }}</strong>"?</p>
                                        <p>{% trans 'All its contents will be removed too.' %}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" action="{% url 'usergroup_delete' usergroup.owner.username usergroup.uuid %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="usergroup_remove_id" value="{{ usergroup.uuid }}" />
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans 'Cancel' %}</button>
                                            <button type="submit" class="btn btn-link">{% trans 'Yes, remove it' %}</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                        </button>
                        {% blocktrans %}You don't have any user groups yet.{% endblocktrans %}
                    </div>
                {% endif %}

            </div>

        </div>

    </div>
    </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });
        });
    </script>
{% endblock %}