{% extends "goals/goal_list.html" %}
{% load i18n %}
{% load staticfiles %}
{% load custom_filters %}
{% load django_bootstrap_breadcrumbs %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb_for 'goal_search' request.user.username %}
        <i class="custom-icon-soccer"></i> {% trans "Search Results" %}
    {% endbreadcrumb_for %}
{% endblock %}

{% block title %}CodeSnug | {% trans 'Search Results' %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row" id="main-content">
    {% include 'left_sidebar.html' %}

    <div id="main-column" class="col-md-9">

        <div class="page-header">
            <h2>{% trans 'Search Results' %}</h2>
        </div>

        {% render_breadcrumbs "breadcrumbs.html" %}

        {% include "messages.html" %}


        <div class="row">
            <div class="col-md-12 goal-toolbar">
                <div class="input-toolbar" role="toolbar">
                    <div class="col-md-6 pull-right" role="toolbar">
                        <form class="form-inline" type="get" action="/search/">
                            <div class="input-group form-search">
                                <input id="id_q" name="q" type="search" class="form-control search-query">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary" data-type="last">{% trans 'Search' %}</button>
                                </span>

                            </div>
                        </form>
                    </div>
                    <div class="btn-group">
                        <a href="{% url 'goals_add' %}" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> {% trans 'Add Goal' %}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                {% if query %}
                    {% if results %}
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            {% blocktrans %}Your query "{{ query }}" has returned "{{ total_count }}" result/s{% endblocktrans %}
                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>{% trans 'Goal name' %}</th>
                                <th>{% trans 'Description' %}</th>
                                <th>{% trans 'Author' %}</th>
                                <th>{% trans 'Snippets' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for goal in results %}
                                <tr>
                                    <td><a href="{% url 'goal_detail' goal.owner goal.uuid %}" title="{{ goal.title }}">{{ goal.title }}</a></td>
                                    <td>{{ goal.description }}</td>
                                    <td>{{ goal.owner }}</td>
                                    <td>{{ goal.snippets_count }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-warning alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
                            </button>
                            {% blocktrans %}Your search did not return any goals.{% endblocktrans %}
                        </div>
                    {% endif %}
                {% else %}
                    <p>{% blocktrans %}If you want to search for a goal, enter one or serveral words from it's title or description{% endblocktrans %}</p>
                {% endif %}
            </div>
        </div>

    </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script src="{% static 'bootflat/js/icheck.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('.checkbox input').iCheck({
                checkboxClass: 'icheckbox_flat',
                increaseArea: '20%'
            });
        });
    </script>
{% endblock %}