@font-face {
  font-family: 'codesnug-icons';
  src: url('../font/codesnug-icons.eot?46437260');
  src: url('../font/codesnug-icons.eot?46437260#iefix') format('embedded-opentype'),
       url('../font/codesnug-icons.woff?46437260') format('woff'),
       url('../font/codesnug-icons.ttf?46437260') format('truetype'),
       url('../font/codesnug-icons.svg?46437260#codesnug-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'codesnug-icons';
    src: url('../font/codesnug-icons.svg?46437260#codesnug-icons') format('svg');
  }
}
*/
 
 [class^="custom-icon-"]:before, [class*=" custom-icon-"]:before {
  font-family: "codesnug-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.custom-icon-th:before { content: '\e800'; } /* '' */
.custom-icon-th-list:before { content: '\e801'; } /* '' */
.custom-icon-list:before { content: '\e802'; } /* '' */
.custom-icon-arrows-cw:before { content: '\e803'; } /* '' */
.custom-icon-cog:before { content: '\e804'; } /* '' */
.custom-icon-users:before { content: '\e805'; } /* '' */
.custom-icon-bug:before { content: '\e806'; } /* '' */
.custom-icon-soccer:before { content: '\e807'; } /* '' */
.custom-icon-info:before { content: '\e808'; } /* '' */
.custom-icon-info-circled:before { content: '\e809'; } /* '' */
.custom-icon-lock:before { content: '\e80a'; } /* '' */
.custom-icon-lock-open:before { content: '\e80b'; } /* '' */
.custom-icon-login:before { content: '\e80c'; } /* '' */
.custom-icon-logout:before { content: '\e80d'; } /* '' */