body {
    background-color: rgb(241, 242, 246);
    font-size: 13px;
}

.dropdown-menu {
    font-weight: normal;
}

.dropdown-menu label {
    color: #ffffff;
    font-weight: normal;
}

.bs-docs-sidebar.affix {
    position: fixed;
    top: 20px;
}

.clear {
    clear: both;
}

#main-content {
    padding-top: 20px;
}

#main-footer {
    margin-top: 20px;
    border-top: 1px solid;
    border-color: #d4d4d4;
    padding: 20px 0;
}

.categorydiv div.tabs-panel, .customlinkdiv div.tabs-panel, .posttypediv div.tabs-panel, .taxonomydiv div.tabs-panel, .wp-tab-panel {
    min-height: 42px;
    max-height: 200px;
    overflow: auto;
    padding: 0 .9em;
    border: solid 1px #dfdfdf;
    background-color: #fdfdfd;
}

ul.categorychecklist {
    list-style: none;
    padding-left: 0;
}

ul.categorychecklist li {
    margin: 0;
    padding: 0;
    line-height: 22px;
    word-wrap: break-word;

}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    color: #A8A8A8;
}

.required:after {
    content: "*";
    padding-left:1%;
}

.page-header h2, .page-header p{
    font-weight: normal;
}

.page-header h2{
    font-size: 22px;
}

.page-header p{
    color: #A8A8A8;
    font-size: 16px;
}

.checkbox ul{
    padding-left: 0;
    margin-left: 40px;
}

.django-ace-editor{
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    height:300px;
}

.django-ace-max_min{
    margin: 5px;
}

.snippet-text{
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    display: inline-block;
    height: auto;
}

.checkbox ul#id_workspaces, .checkbox ul#id_tags{
    list-style: none;
    height: 150px;
    overflow-y: scroll;
    margin: 0;
}

.checkbox ul#id_workspaces li, .checkbox ul#id_tags li{
    margin: 10px 0;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}

.ui-state-hover, .ui-state-active {
   color: #434A54;
   text-decoration: none;
   background-color: #E6E9ED;
   border-radius: 0px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   background-image: none;
   cursor: pointer;
}

#avatar-profile{
    margin-bottom: 20px;
}

th .help-block{
    font-weight: normal;
}

.page-header {
    margin: 50px 0 0 0;
}

.goal-toolbar{
    margin-bottom: 20px;
}

h3.goal-title{
    margin:0 0 10px 0;
    font-size: 25px;
}

.ace_editor.fullScreen {
    height: auto;
    width: auto;
    border: 0;
    margin: 0;
    position: fixed !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: white;
}

.fullScreen {
    overflow: hidden
}

.left-sidebar{
    margin: 50px 0 0 0;
}

a.info-badge{
    color: #AAB2BD;
}

.popover{
    z-index: 9999;
}

.footer-nav .nav-item form > a {
    color: #aab2bd;
}

.footer-nav .nav-item form > a:hover, .footer-nav .nav-item form > a:active {
    color: #ccd1d9;
    text-decoration: none;
}

.codesnug-delete-btn{
    color: #AAB2BD;
}

.codesnug-delete-btn:hover{
    color: #da4453;
}

.navbar-bug{

}

.dropdown-menu {
    font-size: 12px;
}

.hide{
    display: none;
}

.left-sidebar-collapsed{
    width: 6.333333%;
}

.main-column-expanded{
    width: 93.666667%;
}

.collapse-button-block{
    margin: 10px 0;
}

#CookielawBanner{
    z-index: 10;
}